{% extends 'base/base.html' %}

<!-- TITULO -->
{% block title %}
Edición de perfil
{% endblock %}

<!-- CONTENIDO -->
{% block content %}
    <div class="container">

        <div class="row">

            <div class="container-fluid">

                <div class="col-md-12">
                    <h3>{{ titulo }}</h3>

                    <!-- Si tiene foto la muestra -->
                    {% if association.photo %}
                        <img src="{{ association.photo.url }}" alt="Association photo" width="200px" height="200px">
                    {% else %}
                    <!-- Si NO tiene foto muestra el recuadro -->
                    <div style="border-style: solid; border-width: 2px;width: 200px; height:200px;">
                        <img src="" alt="Sin foto">
                        </div>
                    {% endif %}

                    <!-- Formulario Edición -->
                    <br/>
                    <br/>
                    <form id="registro" method="post" enctype="multipart/form-data" action="{% url 'edit_profile_association' %}" class="form" role="form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="username" class="control-label">Nombre de usuario</label>
                                <input class="form-control" id="username" name="username" type="text"
                                       value="{{ association.userAccount.username|default:'' }}" disabled/>
                            </div>
                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="email" class="control-label">Email</label>
                                <input class="form-control" id="email" name="email" maxlength="100"
                                       placeholder="Dirección de correo electrónico" type="email"
                                       value="{{ form.email.value|default:'' }}" required autofocus/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 form-group">
                            <span style="font-style:italic;">
                                Si lo que desea es cambiar las credenciales de su usuario deberá navegar al siguiente <a
                                    href="{% url 'edit_pass_association' %}">formulario.</a>
                            </span>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="first_name" class="control-label">Nombre</label>
                                <input class="form-control" name="first_name" id="first_name" type="text" maxlength="30"
                                       placeholder="Nombre" value="{{ form.first_name.value|default:'' }}" required/>
                            </div>
                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="last_name" class="control-label">Apellidos</label>
                                <input class="form-control" name="last_name" id="last_name" type="text" maxlength="50"
                                       placeholder="Apellidos" value="{{ form.last_name.value|default:'' }}" required/>
                            </div>
                           <div class="col-xs-6 col-md-6 form-group">
                            <label for="centerName" class="control-label">Nombre del Centro</label>
                            <input class="form-control" name="centerName" id="centerName" type="text" maxlength="50" placeholder="Nombre del Centro" value="{{ form.centerName.value|default:'' }}" required/>
                           </div>
                           <div class="col-xs-6 col-md-6 form-group">
                                <label for="cif" class="control-label">CIF o código del centro</label>
                                <input type="text" maxlength="9" class="form-control" name="cif"
                                       id="cif"
                                       placeholder="Código de identificación fiscal"
                                       value="{{ form.cif.value|default:'' }}" required/>
                           </div>
                        </div>
                        <hr/>
                        <div class="row">

                            <div class="col-xs-12 col-md-12 form-group">
                                <label for="address" class="control-label">Dirección</label>
                                <input class="form-control" maxlength="50" name="address" id="address" type="text"
                                       placeholder="Dirección" value="{{ form.address.value|default:'' }}" required/>
                            </div>
                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="postalCode" class="control-label">Código postal</label>
                                <input class="form-control" max_length="5" name="postalCode" id="postalCode" type="text"
                                       placeholder="Código postal" value="{{ form.postalCode.value|default:'' }}"
                                       required/>
                            </div>
                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="phone" class="control-label">Teléfono</label>
                                <input type="text" maxlength="9" class="form-control" name="phone" id="phone"
                                       placeholder="Teléfono" value="{{ form.phone.value|default:'' }}" required/>
                            </div>

                             <div class="col-xs-6 col-md-6 form-group">
                                <label for="opening" class="control-label">Hora de apertura</label>
                                <input type=time class="form-control" name="opening" id="opening" placeholder="Hora de apertura"
                                       value="{{ opening|time:'H:i' }}" required/>
                            </div>

                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="closing" class="control-label">Hora de cierre</label>
                                <input type=time  class="form-control" name="closing" id="closing" placeholder="Hora de cierre"
                                   value="{{ closing|time:'H:i'}}" required/>
                            </div>

                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="notes" class="control-label">Observaciones sobre el horario</label>
                                <textarea class="form-control" name="notes" id="notes" maxlength="200" rows="3" placeholder="Opcional">{{ form.notes.value|default:'' }}</textarea>
                            </div>

                            <hr/>

                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="province" class="control-label">Provincia</label>
                                <select class="form-control" id="province" name="province" required>
                                    <!-- Si viene de validacion, pinta la anterior -->
                                        <option value="{{ provinceSelected.id }}" selected="selected">{{ provinceSelected.name }}</option>
                                        {% for p in provincesAux %}
                                            <option value="{{ p.id }}">{{ p.name }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 form-group">
                                <label for="photo" class="control-label">Foto de perfil</label>
                                <input class="form-control" name="photo" id="photo" type="file"
                                       placeholder="Foto de perfil del usuario"
                                       value="{{ association.photo|default:'' }}"/>
                            </div>
                        </div>

                        <!-- Tratamiento de Errores -->
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <!--Evita el error de provincia, ya que se guarda correctamente -->
                                    {% if field.label != "Provincia" %}
                                    <div class="alert alert-danger">
                                        <!-- -->
                                        <strong>{{ field.label }}: {{ error|escape }}</strong>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- Botones -->
                        <div class="row">
                            <div class="col-xs-5 col-md-5 form-group">
                                <input type="hidden" name="next" value="/"/>
                                <input type="submit" value="Editar" class="btn editbutton btn-block"/>
                            </div>
                            <div class="col-xs-5 col-md-5 form-group">
                                <input type="hidden" name="next" value="/"/>
                                <input type="button" class="btn cancelbutton btn-block" onclick="location.href='/web/news';"
                                       value="Cancelar"/>
                            </div>

                            <div class="col-xs-1 col-md-1 form-group">
                                <a class="btn btn-danger" href="/actors/association/edit/profile/delete/{{ association.pk }}" style="align: center">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}


{% endblock %}