{% extends 'base/base.html' %}
{% block title %}
Eventos
{% endblock %}
{% block content %}

<div align="center">

    {% if isEvent %}
        <input type="button" style="font-size: 24px;border-color:#2c539e" class="btn pulsado"
                               onclick="location.href='/web/events';"
                               value="Eventos"/>&nbsp&nbsp
        <input type="button" style="font-size: 24px;" class="btn editbutton"
                               onclick="location.href='/web/news';"
                               value="Noticias"/>
    {% else %}
        <input type="button" style="font-size: 24px;" class="btn editbutton"
                               onclick="location.href='/web/events';"
                               value="Eventos"/>&nbsp&nbsp
        <input type="button" style="font-size: 24px;border-color:#2c539e" class="btn pulsado"
                               onclick="location.href='/web/news';"
                               value="Noticias"/>
    {% endif %}
</div>


<div align="center">

<h3 align="center"> Eventos</h3>

{% if event_list %}
    {% for event in event_list %}
        <div align="center" style="overflow: auto;padding: 0 20px 0;">
                <div style="float: left;width:50px;padding:5px">

                </div>
                <!-- IMAGEN DE LA ASOCIACIÓN -->
                <div style="float: left;">
                    {% if event.photo %}
                        <img src="{{ event.photo.url }}"  alt="photo's event" width="300px" height="300px">
                    {% endif %}
                    <p></p>
                </div>
            <!--  -->
            <div style="float: left;width:400px;padding:40px">
                <p class="card-text" align="center" style="font-size:27px;"><b> Comienzo: {{ event.startDate|date:'d/m/y' }}</b></p>
                <p class="card-text" align="center" style="font-size:27px;"><b> Termina:&nbsp &nbsp&nbsp{{ event.finishDate|date:'d/m/y' }}</b></p>
                {% if event.length %}
                    <p class="card-text" align="center" style="font-size:27px;"><b> Duración:&nbsp&nbsp {{ event.length|time:'H' }}h : {{ event.length|time:'i' }}m</b></p>
                {% endif %}
                <div align="center">
                    {% if event.breeder %}
                        <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  event.breeder.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ event.breeder.userAccount.first_name }} {{ event.breeder.userAccount.last_name }}
                        </button>
                    {% elif event.association %}
                      <button class="btn btn-info"  onclick="location.href='/actors/profile/{{ event.association.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ event.association.userAccount.first_name }} {{ event.association.userAccount.last_name }}
                        </button>
                    {% endif %}
                </div>
            </div>
            <div style="float: left;width:400px;padding:40px">
                <p class="card-text" align="center" style="font-size:25px;"><b>{{ event.title }}</b></p>
                <p class="card-text" align="center" style="font-size:25px;"><b>{{ event.place }}</b></p>
                <p class="card-text" align="left">{{ event.description }}</p>
            </div>

        </div>
    <hr>
    {% endfor %}
{% else %}
    <p style="padding: 0px 250px 0px">no existen eventos</p>
{% endif %}
</div>

{% endblock %}
