{% extends 'base/base.html' %}
{% block title %}
Eventos
{% endblock %}
{% block content %}

</br>
<div align="center">

    {% if isEvent %}
        <input type="button" style="font-size: 24px;border-color:#2c539e" class="btn pulsado"
                               onclick="location.href='/web/events';"
                               value="Eventos"/>&nbsp&nbsp
        <input type="button" style="font-size: 24px;" class="btn editbutton"
                               onclick="location.href='/web/news';"
                               value="Noticias"/>
    {% else %}
        <input type="button" style="font-size: 24px;" class="btn editbutton"
                               onclick="location.href='/web/events';"
                               value="Eventos"/>&nbsp&nbsp
        <input type="button" style="font-size: 24px;border-color:#2c539e" class="btn pulsado"
                               onclick="location.href='/web/news';"
                               value="Noticias"/>
    {% endif %}
</div>


<div align="center">
</br>
<h1 align="center"> Eventos</h1>
</br>

{% if event_list %}
    {% for event in event_list %}
        <div class="card border-dark mb-4" style="max-width: 60rem;">
          <div class="card-header" align="center"><h4><b>{{ event.title }}</b></h4></div>
          <div class="card-body text-dark">
            <h4 class="card-title">{{ event.place }}</h4>
            <p class="card-text">{{ event.description }}</p>

              {% if event.photo %}
                  <img src="{{ event.photo.url }}" alt="photo's event" width="150px" height="150px" align="right">
                {% endif %}

              </br>

              <h5 class="card-text" align="left">Comienzo: {{ event.startDate|date:'d/m/y' }}</h5>
              <h5 class="card-text" align="left">Termina:&nbsp &nbsp&nbsp{{ event.finishDate|date:'d/m/y' }}</h5>
              <h5 class="card-text" align="left">
                  {% if event.length %}
                    Duración:&nbsp&nbsp {{ event.length|time:'H' }}h : {{ event.length|time:'i' }}m
                  {% endif %}
              </h5>
                </br>
                </br>
              <p class="card-text" style="position: absolute;bottom: 30px;left: 20px;">
                  {% if event.breeder %}
                        <a href="">{{ event.breeder.userAccount.first_name }} {{ event.breeder.userAccount.last_name }}</a>
                  {% elif event.association %}
                        <a href="">{{ event.association.userAccount.first_name }} {{ event.association.userAccount.last_name }}</a>
                  {% endif %}
              </p>
          </div>
        </div>
    {% endfor %}
{% else %}
    <p style="padding: 0px 250px 0px">no existen eventos</p>
{% endif %}
</div>

{% endblock %}
