{% extends 'base/base.html' %}
{% block title %}
Eventos
{% endblock %}
{% block content %}

<div align="center">

    {% if isEvent %}
        <input type="button" style="font-size: 24px;border-color:#2c539e" class="btn pulsado"
                               onclick="location.href='/web/events';"
                               value="Eventos"/>&nbsp&nbsp
        <input type="button" style="font-size: 24px;" class="btn editbutton"
                               onclick="location.href='/web/news';"
                               value="Noticias"/>
    {% else %}
        <input type="button" style="font-size: 24px;" class="btn editbutton"
                               onclick="location.href='/web/events';"
                               value="Eventos"/>&nbsp&nbsp
        <input type="button" style="font-size: 24px;border-color:#2c539e" class="btn pulsado"
                               onclick="location.href='/web/news';"
                               value="Noticias"/>
    {% endif %}
</div>


<div align="center">

<h3 align="center"> Eventos</h3>
<hr>
{% if event_list %}
    {% for event in event_list %}
        <div align="center" style="overflow: auto;padding: 0 20px 0;">

                <!-- IMAGEN DEL EVENTO -->
                <div style="float: left;padding:0px 80px 0px">
                    {% if event.photo %}
                        <img src="{{ event.photo.url }}"  alt="photo's event" width="300px" height="300px">
                    {% endif %}

                </div>
            <!--  -->
            <div style="float: left;width:400px;">

                <p class="card-text" align="center" style="font-size:25px;"><b>{{ event.title }}</b></p>
                <p class="card-text" align="center">{{ event.description }}</p>
                <div align="center">
                    {% if event.breeder and event.breeder.userAccount != actor.userAccount %}
                        <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  event.breeder.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ event.breeder.userAccount.first_name }} {{ event.breeder.userAccount.last_name }}
                        </button>
                    {% elif event.breeder and event.breeder.userAccount == actor.userAccount %}
                        <p class="card-text" align="center"><b>{{ event.breeder.userAccount.first_name }}  {{ event.breeder.userAccount.last_name }}</b></p>
                    {% elif event.association and event.association.userAccount != actor.userAccount %}
                        <button class="btn btn-info"  onclick="location.href='/actors/profile/{{ event.association.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ event.association.userAccount.first_name }} {{ event.association.userAccount.last_name }}
                        </button>
                    {% elif event.association and event.association.userAccount == actor.userAccount %}
                        <p class="card-text" align="center"><b>{{ event.association.userAccount.first_name }}  {{ event.association.userAccount.last_name }}</b></p>
                    {% endif %}
                </div>
            </div>
            <div style="float: left;width:400px;padding:0px 40px 0px">
                <p class="card-text" align="left"><b>Lugar: </b>{{ event.place }}</p>
                <p class="card-text" align="left" ><b> Comienzo:</b> {{ event.startDate|date:'d/m/y' }}</p>

                {% if event.length %}
                    <p class="card-text" align="left"><b> Duración:</b>&nbsp&nbsp {{ event.length|time:'H' }}h : {{ event.length|time:'i' }}m</p>
                {% else %}
                    <p class="card-text" align="left" ><b> Termina:</b>&nbsp &nbsp&nbsp{{ event.finishDate|date:'d/m/y' }}</p>
                {% endif %}

            </div>

        </div>
    <hr>
    {% endfor %}
{% else %}
    <p style="padding: 0px 250px 0px">no existen eventos</p>
{% endif %}
</div>

{% endblock %}
