{% extends 'base/base.html' %}

{% block title %}SocialDog{% endblock %}

{% block content %}

        <div class="container-fluid bgimg-2 parallax" id="home">

        </div>

<div class="container-fluid bgimg-1 parallax" id="home2">
            <div style="background: rgb(79,133,187); /* Old browsers */
                    background: -moz-linear-gradient(left, rgba(79,133,187,1) 0%, rgba(99,66,155,1) 64%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, rgba(79,133,187,1) 0%,rgba(99,66,155,1) 64%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, rgba(79,133,187,1) 0%,rgba(99,66,155,1) 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#63429b',GradientType=1 );" class="card bg-primary text-white display-middle display-card">
                {% if user.is_authenticated%}

                {% else %}
                     <div class="card-body">
                        ¿Qué es SocialDog?
                    </div>
                {% endif %}
            </div>
        </div>
        <br/>

        <div class="container" id="info">
            <h2>Información</h2>
            </p>
            <br/>
        </div>

{% endblock %}
