{% extends 'base/base.html' %}
{% block title %}
Noticias
{% endblock %}
{% block content %}

<div align="center">
    {% if isEvent %}
        <input type="button" style="font-size: 24px;border-color:#2c539e" class="btn pulsado"
                               onclick="location.href='/web/events';"
                               value="Eventos"/>&nbsp&nbsp
        <input type="button" style="font-size: 24px;" class="btn editbutton"
                               onclick="location.href='/web/news';"
                               value="Noticias"/>
    {% else %}
        <input type="button" style="font-size: 24px;" class="btn editbutton"
                               onclick="location.href='/web/events';"
                               value="Eventos"/>&nbsp&nbsp
        <input type="button" style="font-size: 24px;border-color:#2c539e" class="btn pulsado"
                               onclick="location.href='/web/news';"
                               value="Noticias"/>
    {% endif %}
</div>

<div align="center">
<h3 align="center"> Noticias</h3>
<hr>
{% if news_list %}
    {% for news in news_list %}
        <div align="center" style="overflow: auto;padding: 0 20px 0;">
                <div style="float: left;width:50px;padding:5px">

                </div>
                <!-- IMAGEN DE LA NOTICIA-->
                <div style="float: left;padding:0px 120px 0px">
                    {% if news.photo %}
                        <img src="{{ news.photo.url }}"  alt="photo's news" width="300px" height="300px">
                    {% endif %}
                    <p></p>
                </div>
            <!--  -->
            <div style="float: left;width:500px;">
                <p class="card-text" align="center" style="font-size:25px;"><b>{{ news.title }}</b></p>
                <p class="card-text" align="center"><b>Publicación: </b>{{ news.creationDate|date:'d/m/y' }}</p>
                <p class="card-text" align="center">{{ news.description }}</p>
                <div align="center">
                    {% if news.breeder and news.breeder.userAccount != actor.userAccount %}
                            <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  news.breeder.pk }}';">
                                <span class="fa fa-user"></span>
                                {{ news.breeder.userAccount.first_name }} {{ news.breeder.userAccount.last_name }}
                            </button>
                    {% elif news.breeder and news.breeder.userAccount == actor.userAccount %}
                        <p class="card-text" align="center"><b>{{ news.breeder.userAccount.first_name }}  {{ news.breeder.userAccount.last_name }}</b></p>
                    {% elif news.association and news.association.userAccount != actor.userAccount %}
                            <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  news.association.pk }}';">
                                    <span class="fa fa-user"></span>
                                    {{ news.association.userAccount.first_name }} {{ news.association.userAccount.last_name }}
                            </button>
                    {% elif news.association and news.association.userAccount == actor.userAccount %}
                        <p class="card-text" align="center"><b>{{ news.association.userAccount.first_name }}  {{ news.association.userAccount.last_name }}</b></p>
                    {% endif %}
                </div>
            </div>

        </div>
    <hr>
    {% endfor %}
{% else %}
    <p style="padding: 0px 250px 0px">no existen noticias</p>
{% endif %}
</div>
{% endblock %}
