<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
	{% block extrastatic %}
	{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- {{ STATIC_URL }} no resuelve (vacio) -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/welcome.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Material icons de Google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<title>{% block title %}SocialDog{% endblock %}</title>
</head>
<body>
	{% block navbar %}
        {% if user.is_authenticated %}

            <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
                <a class="navbar-brand flex-align-center" href="/">
                    <img style="width: auto; height: 200px; border-bottom: 0.4px solid;
  border-color: transparent;
                    justify-content: center;
  align-items: center;
  display: flex;" src="{% static 'img/SocialDog.jpg' %}" alt="SocialDog" class="brand-icon"/>
                </a>
                <!--Botón de "colapso", se mostrará si la ventana es demasiado pequeña-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Sección "colapsable", se agruparán si la ventana es demasiado pequeña -->
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">

                    {% if user.actor.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="">Animales</a>
                        </li>

                    {% elif user.actor.breeder %}
                        <li class="nav-item">
                            <a class="nav-link" href="">Animales</a>
                        </li>

                    {% elif user.actor.association %}
                            <li class="nav-item">
                                <a class="nav-link" href="">Animales</a>
                            </li>

                    {% elif user.actor.administrator %}

                        <li class="nav-item">
                                <a class="nav-link" href="">Animales</a>
                        </li>

                    {% endif %}

                    </ul>
                    <!-- Inicio/Cierre de sesión -->
			        {% include 'base/loginpartial.html' %}
                </div>
            </nav>
        {% else %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
                <a class="navbar-brand flex-align-center" href="/">
                    <img style="width: auto; height: 200px; border-bottom: 0.4px solid;
  border-color: transparent;
                    justify-content: center;
  align-items: center;
  display: flex;" src="{% static 'img/SocialDog.jpg' %}" alt="SocialDog" class="brand-icon flex-align-center"/>
                </a>

                <!--Botón de "colapso", se mostrará si la ventana es demasiado pequeña-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Sección "colapsable", se agruparán si la ventana es demasiado pequeña -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- Elementos principales -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Informaci&#243;n</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Animales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Criadores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#escuelas-parallax">Asociaciones</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Iniciar Sesi&#243;n</a>
                        </li>
                        <li class="dropdown flex-align-center">
                            <a style="border-top: 5px solid;border-color: transparent;" href="#" class="nav-link dropdown-toggle navbar-text" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                Registrarse
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/register/user">Usuario</a>
                                <a class="dropdown-item" href="/register/breeder">Criador</a>
                                <a class="dropdown-item" href="/register/association">Asociación</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endif %}
	{% endblock %}

    <!-- BLOQUE DE CONTENIDO -->
	{% block content %}
	{% endblock %}

    <!-- PIE DE PÁGINA -->
	{% block footer %}
<footer class="page-footer font-small blue pt-4 mt-4 bg-dark text-white">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-3">
							<p class="column-title">Información</p>
							<p class="footer-text">Social Dog, páginas de referencia</p>
						</div>

						<div class="col-sm-12 col-md-3">
							<p class="column-title">Contacto</p>
							<p class="footer-text">Para contactar con nosotros sólo tienes que mandar un correo a cualquiera de estas direcciones:</p>
							<ul class="list-unstyled">
								<li>jesosa94@gmail.com</li>
								<li>jesosa.sanchez@gmail.com</li>
							</ul>
						</div>

					</div>
				</div>
			</footer>

	{% endblock%}

    <!-- SCRIPTS -->
	<script src="/static/js/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	{% block extrajs %}
	{% endblock %}
</body>
</html>
