{% extends 'base/base.html' %}

{% block title %}SocialDog{% endblock %}

<!-- CONTENIDO -->
{% block content %}
<div class="container">
    <br />
    <h2>{{ title }}</h2>

    <div class="row">

        <div class="container-fluid">
            <div class="col-md-12">

                <!-- FORMULARIO -->
                <form id="registro" enctype="multipart/form-data" method="post" action="{% url 'create_request' %}" class="form" role="form">
                    {% csrf_token %}

                    <!-- Solicitud de amistad -->
                    <br/>

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="description" class="control-label">Descripción</label>
                            <textarea class="form-control" name="description" id="description" maxlength="200" rows="3" placeholder="Descripción"  required>{{ form.description.value|default:'' }}</textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                                <label for="followed" class="control-label">Enviar a</label>
                                <select class="form-control" id="followed" name="followed" required>
                                    <option value="" selected="selected">Seleccione usuario</option>
                                    {% for actor in actors %}

                                        <option value="{{ actor.userAccount.id }}"> {{ actor.userAccount.first_name }} {{ actor.userAccount.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        <div class="col-xs-6 col-md-6 form-group">
                        </div>
                    </div>

                    <hr/>

                     <!-- Tratamiento de Errores -->
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ field.label }}: {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}



                    <!-- Botones -->
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Enviar" class="btn editbutton btn-block" />
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <input type="hidden" name="next" value="/" />
                            <input type="button" class="btn cancelbutton btn-block" onclick="location.href='/requests/listReceived';" value="Cancelar" />
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}
