{% extends "base/base.html" %}

<!-- CONTENIDO -->
{% block content %}

        <div class="container-fluid">
            <div class="col-md-12">

                <!-- Formulario Borrado -->
                <form id="borrar" enctype="multipart/form-data" method="post" action="" class="form" role="form">
                    {% csrf_token %}
                    <h4><b>    {{ actor.userAccount.first_name }} {{ actor.userAccount.last_name }},</b></h4>
                    {% if requestSent.status != 'Pendiente' %}
                        <p style="font-size:25px">¿Está seguro que desea eliminar (solo para ti) la solicitud enviada, <b>{{ requestSent.followed.userAccount.first_name }} {{ requestSent.followed.userAccount.last_name }}</b>?</p>
                    {% else %}
                        <p style="font-size:25px">¿Está seguro que desea cancelar la solicitud enviada, <b>{{ requestSent.followed.userAccount.first_name }} {{ requestSent.followed.userAccount.last_name }}</b>?</p>
                    {% endif %}
                    <br>
                    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
                    <a class="btn cancelbutton" href="/requests/listSent">Cancelar</a>

                </form>

            </div>
        </div>

{% endblock %}


{% block scripts %}


{% endblock %}