{% extends "base/base.html" %}

<!-- CONTENIDO -->
{% block content %}

    <h2>{{ titulo }}</h2>

    <div class="row">

        <div class="container-fluid">
            <br/>
            <div class="col-md-12">

                <!-- Formulario Edición -->
                <form id="editar" enctype="multipart/form-data" method="post" action="" class="form" role="form">
                    {% csrf_token %}

                    {% if user.actor.breeder %}
                        <h2><b>    {{ breeder.userAccount.first_name }} {{ breeder.userAccount.last_name }},</b></h2>
                    {% else %}
                        <h2><b>    {{ association.userAccount.first_name }} {{ association.userAccount.last_name }},</b></h2>
                    {% endif %}
                    <br>
                    <h3>¿Está seguro que desea eliminar el evento <b>{{ event.title }}</b>?</h3>
                    <br>
                    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
                    <a class="btn cancelbutton" href="/events/ownList">Cancelar</a>

                </form>

            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}


{% endblock %}