{% extends 'base/base.html' %}
{% block title %}
Mis noticias
{% endblock %}
{% block content %}

        <h3 style="padding: 0 20px 0">Mis noticias</h3>

        <!-- Listado -->
        {% if news_list %}
            {% for news in news_list %}
        <div align="center" style="overflow: auto;padding: 0 20px 0;">
            <p class="card-text" align="right" style="font-size:25px;"><b> <b>Publicación: </b> {{ news.creationDate|date:'d/m/y' }}</b></p>
                <!-- IMAGEN DE LA NOTICIA -->
                <div style="float: left;">
                    {% if news.photo %}
                        <img src="{{ news.photo.url }}"  alt="photo's news" width="300px" height="300px">
                    {% endif %}
                    <p></p>
                </div>
            <!--  -->
            <div style="float: left;width:400px;padding:40px">
                <p class="card-text" align="center" style="font-size:25px;"><b>{{ news.title }}</b></p>
                <p class="card-text" align="left">{{ news.description }}</p>
                <div align="center">
                    {% if news.breeder %}
                            <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  news.breeder.pk }}';">
                                <span class="fa fa-user"></span>
                                {{ news.breeder.userAccount.first_name }} {{ news.breeder.userAccount.last_name }}
                            </button>
                    {% elif news.association %}
                            <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  news.association.pk }}';">
                                    <span class="fa fa-user"></span>
                                    {{ news.association.userAccount.first_name }} {{ news.association.userAccount.last_name }}
                            </button>
                    {% endif %}
                </div>
            </div>
            <div style="float: left;width:400px;padding:40px">
                <p class="card-text" align="center" style="font-size:25px;"><b>{{ news.title }}</b></p>
                <p class="card-text" align="left">{{ news.description }}</p>
            </div>
            <!--BOTONES DE EDICION Y BORRADO -->
            <div style="float: left;width:100px;padding:40px">
                {% if ownNews %}
                    <a  title="Editar"  class="btn editbutton" href="edit/{{ news.pk }}">
                        <i class="fa fa-pencil" style="font-size:18px"></i>
                    </a>
                <p></p>
                    <a class="btn btn-danger" href="delete/{{ news.pk }}">
                        <i class="fa fa-trash"></i>
                    </a>

                {% endif %}
            </div>

        </div>
            <hr>
    {% endfor %}

          <div class="panel-footer table-header-primary table-footer">
            {% if news_list.has_other_pages %}
                <ul class="pagination">
                    {% if news_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ news_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in news_list.paginator.page_range %}
                        {% if news_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if news_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ news_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>

        {% else %}

            <p style="padding: 0px 20px 0px">No existen noticias.</p>
        {% endif %}

        {% if user.actor.breeder %}
            <div class="create" style="padding: 0 20px 20px;">
                <input type="button" class="btn editbutton"
                       onclick="location.href='/news/breeder/create';"
                       value="Crear noticia"/>

            </div>

        {% endif %}

        {% if user.actor.association %}
            <div class="create" style="padding: 0 20px 20px;">
                <input type="button" class="btn editbutton"
                       onclick="location.href='/news/association/create';"
                       value="Crear noticia"/>

            </div>

        {% endif %}



{% endblock %}
