{% extends 'base/base.html' %}
{% block title %}
Lista de noticias
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <br/>
        <h1>Mis noticias</h1>
        <br/>

        <!-- Listado -->
        {% if news_list %}
        <div class="panel panel-default panel-table mb-3">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <table class="table table-striped table-curved table-hover table-bordered">


                    <thead class="thead-primary">
                    <tr>
                        <th>Título</th>
                        <th>Descripción</th>
                        <!-- Foto-->
                        <th></th>

                        <!-- Si es del creador para la columna editar -->
                        {% if ownNews %}
                        <th></th>
                        {% endif %}
                        <!-- Para la columna de ver detalles-->
                        <th></th>

                    </tr>
                  </thead>

                    <tbody>
                    {% for news in news_list %}

                        <tr>
                            <td>{{ news.title }}</td>
                            <td>{{ news.description }}</td>
                            <td>
                                {% if news.photo %}
                                    <img src="{{ news.photo.url }}" alt="photo's news" width="150px" height="150px">
                                {% endif %}
                            </td>
                            <!-- Si es del creador para  editar -->
                            {% if ownNews %}
                            <td>
                                <a  title="Editar"  class="btn editbutton" href="edit/{{ news.pk }}">
                                        Editar
                                </a>
                                <a class="btn btn-danger" href="delete/{{ news.pk }}">
                                    Borrar
                                </a>
                            </td>
                            {% endif %}
                            <td> <a title="Ver detalles"  class="btn editbutton" href=""> Ver detalles</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>

            </table>
          </div>
          <div class="panel-footer table-header-primary table-footer">
            {% if news_list.has_other_pages %}
                <ul class="pagination">
                    {% if news_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ news_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in news_list.paginator.page_range %}
                        {% if news_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if news_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ news_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p></p>
            <p>No existen noticias.</p>
        {% endif %}

        {% if user.actor.breeder %}
            <div class="create">
                <input type="button" class="btn editbutton"
                       onclick="location.href='/news/breeder/create';"
                       value="Crear noticia"/>

            </div>

        {% endif %}

        {% if user.actor.association %}
            <div class="create">
                <input type="button" class="btn editbutton"
                       onclick="location.href='/news/association/create';"
                       value="Crear noticia"/>

            </div>

        {% endif %}



    </div>
{% endblock %}
