{% extends 'base/base.html' %}

{% block title %}SocialDog{% endblock %}

<!-- CONTENIDO -->
{% block content %}
<div class="container">
    <h3>{{ title }}</h3>

    <div class="row">

            <div class="col-md-12">

                <!-- FORMULARIO -->
                <form id="registro" enctype="multipart/form-data" method="post" class="form" role="form">
                    {% csrf_token %}

                    <!-- Mensaje -->

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="subject" class="control-label">Asunto</label>
                                <input class="form-control" id="subject" name="subject" maxlength="50" placeholder="Asunto"
                                       type="text" value="{{ subject }}" required autofocus/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="text" class="control-label">Texto</label>
                            <textarea class="form-control" name="text" id="text" maxlength="200" rows="3"
                                      placeholder="Texto" required>"RE": {{ form.text.value|default:'' }}</textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <p><h4>Destinatario: {{ recipient.userAccount.first_name }} {{ recipient.userAccount.last_name }}</h4></p>
                        </div>
                    </div>

                    <hr/>

                    <!-- Tratamiento de Errores -->
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}: {{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}


                    <!-- Botones -->
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <input type="hidden" name="next" value="/"/>
                            <input type="submit" value="Enviar" class="btn editbutton btn-block"/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <input type="hidden" name="next" value="/"/>
                            <input type="button" class="btn cancelbutton btn-block"
                                   onclick="location.href='/messages/sent';" value="Cancelar"/>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
