{% extends 'base/base.html' %}
{% block title %}
Perfil
{% endblock %}
{% block content %}


<div>
    </br>
    	 <div class="well profile">
            <div class="col-sm-12" align="center">
                <div class="col-xs-12 col-sm-8">
                    <img src="{{ dog.photo.url }}" alt="Dog photo" width="300px" height="300px">
                    <button class="btn btn-info"  onclick="location.href='/actors/profile/{{ dog.breeder.pk }}';">
                        <span class="fa fa-user"></span>
                        {{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}
                    </button>

                <div class="col-sm-5 text-left">

                        <p><strong>Nombre: </strong> {{ dog.name }} </p>
                        <p><strong>Edad: </strong> {{ dog.age }} años</p>
                        <p><strong>Género: </strong> {{ dog.gender }}</p>
                        <p><strong>Raza: </strong> {{ dog.breed }}</p>
                        {% if dog.details %}
                            <p>{{ dog.details }}</p>
                        {% endif %}
                        {% if dog.awards %}
                            <p>{{ dog.awards }}</p>
                        {% endif %}
                        {% if dog.descendant %}
                            <p>{{ dog.descendant }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2 text-center">

                 <!--Comentar -->
                {% if not ownDog %}
                    <button class="btn btn-success btn-block" onclick="location.href='/comments/create/dog/{{ dog.pk }}';">
                        <span class="fa fa-envelope pull-right" >
                        </span>Comentar
                    </button>
                    <button class="btn btn-success btn-block" onclick="location.href='/rates/create/dog/{{ dog.pk }}';">
                        <span class="fa fa-envelope pull-right" >
                        </span>Valorar
                    </button>
                {% endif %}
                </div>
            </div>


            </div>

</div>

</br>
<div class="container">
  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#menu1" style="font-size:30px;"> Comentarios</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    <li><a data-toggle="tab" href="#menu2" style="font-size:30px;">Valoraciones</a></li>
  </ul>


  <div class="tab-content">
      <!--COMENTARIOS -->
    <div id="menu1" class="tab-pane fade">
     <div align="center">
</br>
</br>

{% if comment_list %}
    {% for comment in comment_list %}
        <div class="card border-dark mb-4" style="max-width: 60rem;">
          <div class="card-header" align="center"><h4><b>{{ comment.title }}</b></h4></div>
          <div class="card-body text-dark">
            <p class="card-text">{{ comment.text }}</p>

              <p class="card-text" >
                <img src="{{ comment.creator_comment.photo.url }}" alt="Dog photo" width="75px" height="75px">
                  </br>
                  {% if comment.creator_comment.breeder %}
                        <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  comment.creator_comment.breeder.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ comment.creator_comment.breeder.userAccount.first_name }} {{ comment.creator_comment.breeder.userAccount.last_name }}
                        </button>
                  {% elif comment.creator_comment.association %}
                      <button class="btn btn-info"  onclick="location.href='/actors/profile/{{ comment.creator_comment.association.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ comment.creator_comment.association.userAccount.first_name }} {{ comment.creator_comment.association.userAccount.last_name }}
                        </button>
                  {% else %}
                            {{ comment.creator_comment.userAccount.first_name }} {{ comment.creator_comment.userAccount.last_name }}
                  {% endif %}

              </p>
          </div>
            <!-- Edición  y Borrado del comentario -->
            {% if comment.creator_comment == actor %}
                <div align="right" style="padding-right: 30px; padding-bottom: 10px;">
                    <a href="{% url 'edit_comment' comment.pk %}" style="font-size:20px;" >Editar</a>
                    <a  class="btn btn-danger" href="{% url 'delete_comment' comment.pk %}">Borrar</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p style="padding: 0px 250px 0px">no hay comentarios</p>
{% endif %}
</div>
    </div>

      <!--Valoraciones -->
    <div id="menu2" class="tab-pane fade">

        <div align="center">
</br>
</br>

{% if rate_list %}
    {% for rate in rate_list %}
        <div class="card border-dark mb-4" style="max-width: 60rem;">
          <div class="card-header" align="center">
              {% if rate.stars == 0 %}
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 1 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 2 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 3 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 4 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 5 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
              {% endif %}
          </div>
          <div class="card-body text-dark">
            <p class="card-text">{{ rate.description }}</p>

              <p class="card-text" >
                <img src="{{ rate.creator_rate.photo.url }}" alt="Dog photo" width="75px" height="75px">
                  </br>
                  {% if rate.creator_rate.breeder %}
                        <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  comment.creator_comment.breeder.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ rate.creator_rate.breeder.userAccount.first_name }} {{ rate.creator_rate.breeder.userAccount.last_name }}
                        </button>
                  {% elif rate.creator_rate.association %}
                      <button class="btn btn-info"  onclick="location.href='/actors/profile/{{ rate.creator_rate.association.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ rate.creator_rate.association.userAccount.first_name }} {{ rate.creator_rate.association.userAccount.last_name }}
                        </button>
                  {% else %}
                            {{ rate.creator_rate.userAccount.first_name }} {{ rate.creator_rate.userAccount.last_name }}
                  {% endif %}

              </p>

          </div>
        </div>
    {% endfor %}
{% else %}
    <p style="padding: 0px 250px 0px">no hay valoraciones</p>
{% endif %}
</div>
    </div>

    </div>
  </div>



</div>

{% endblock %}
