{% extends 'base/base.html' %}
{% block title %}
Perfil
{% endblock %}
{% block content %}


<div>
    </br>
    	 <div align="center" style="overflow: auto;padding: 0 20px 0;">
                            <!-- IMAGEN DEL PERRO -->
                            <div style="float: left;">
                                {% if dog.photo %}
                                    <img src="{{ dog.photo.url }}"  alt="photo's dog" width="400px" height="300px">
                                {% endif %}

                            </div>
                            <!-- DATOS RELEVANTES DEL PERRO -->
                            <div style="float: left;width:400px;padding:40px">
                                <p class="card-text" align="left"> <b>Nombre: </b>{{ dog.name }}</p>
                                <!-- COMPRUEBA LA S DE AÑO -->
                                {% if dog.age == 1 %}
                                    <p class="card-text" align="left"><b>Edad: </b>{{ dog.age }} año</p>
                                {% else %}
                                    <p class="card-text" align="left"><b>Edad: </b>{{ dog.age }} años</p>
                                {% endif %}
                                    <p class="card-text" align="left"><b>Género: </b>{{ dog.gender }}</p>
                                    <p class="card-text" align="left"><b>Raza: </b>{{ dog.breed }}</p>

                                <!-- SI TIENE PERFIL PRIVADO NO SE MUESTRA BOTON -->
                                {% if not user.is_authenticated and dog.breeder.private %}
                                    <p class="card-text" align="left"><b>Criador: </b>{{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}</p>

                                {% elif user.is_authenticated %}
                                     <div align="left">
                                        <button class="btn btn-info" onclick="location.href='/actors/profile/{{ dog.breeder.pk }}';">
                                            <span class="fa fa-user"></span>
                                            {{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}
                                        </button>
                                         <p></p>
                                     </div>
                                {% else %}
                                    <div align="left">
                                        <button class="btn btn-info" onclick="location.href='/web/profile/{{ dog.breeder.pk }}';">
                                            <span class="fa fa-user"></span>
                                            {{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- CAMPOS DE TEXTO DEL PERRO -->
                                <div style="float: left;width:400px;padding:40px">
                                    {% if dog.details %}
                                    <p class="card-text" align="left"> <b>Detalles: </b>{{ dog.details }}</p>
                                    {% else %}
                                    <p class="card-text" align="left"> <b>Detalles: </b>ninguno</p>
                                    {% endif %}
                                    {% if dog.awards %}
                                    <p class="card-text" align="left"><b>Premios: </b>{{ dog.awards }}</p>
                                    {% else %}
                                    <p class="card-text" align="left"> <b>Premios: </b>ninguno</p>
                                    {% endif %}
                                </div>

                            <!-- BOTONES SI ESTA LOGUEADO -->
                                <div style="float: left;width:30px;padding:40px 0 0">
                                    <!--BOTON PARA COMENTAR Y VALORAR-->
                                    {% if not ownDog %}
                                        <button class="btn btn-success " onclick="location.href='/comments/create/dog/{{ dog.pk }}';">
                                            <span class="fa fa-comment">
                                            </span>
                                        </button>
                                    <p></p>
                                        <button class="btn btn-success " onclick="location.href='/rates/create/dog/{{ dog.pk }}';">
                                            <span class="fa fa-star" >
                                            </span>
                                        </button>
                                    {% endif %}
                                </div>
                           </div>

</div>

</br>
<div class="container">
  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#menu1" style="font-size:30px;"> Comentarios</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    <li><a data-toggle="tab" href="#menu2" style="font-size:30px;">Valoraciones</a></li>
  </ul>


  <div class="tab-content">
      <!--COMENTARIOS -->
    <div id="menu1" class="tab-pane fade">
     <div align="center">
</br>
</br>

{% if comment_list %}
    {% for comment in comment_list %}
        <div class="card border-dark mb-4" style="max-width: 60rem;">
          <div class="card-header" align="center"><h4><b>{{ comment.title }}</b></h4></div>
          <div class="card-body text-dark">
            <p class="card-text">{{ comment.text }}</p>

              <p class="card-text" >
                <img src="{{ comment.creator_comment.photo.url }}" alt="Dog photo" width="75px" height="75px">
              <p></p>

                  {% if comment.creator_comment.breeder %}
                        <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  comment.creator_comment.breeder.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ comment.creator_comment.breeder.userAccount.first_name }} {{ comment.creator_comment.breeder.userAccount.last_name }}
                        </button>
                  {% elif comment.creator_comment.association %}
                      <button class="btn btn-info"  onclick="location.href='/actors/profile/{{ comment.creator_comment.association.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ comment.creator_comment.association.userAccount.first_name }} {{ comment.creator_comment.association.userAccount.last_name }}
                        </button>
                  {% else %}
                            {{ comment.creator_comment.userAccount.first_name }} {{ comment.creator_comment.userAccount.last_name }}
                  {% endif %}

              </p>
          </div>
            <!-- Edición  y Borrado del comentario -->
            {% if comment.creator_comment == actor %}
                <div align="right" style="padding-right: 30px; padding-bottom: 10px;">
                    <!-- Número de likes y dislikes -->

                    <i class="fa fa-thumbs-o-up" style="font-size:30px"></i>
                    {{ comment.likes }}
                    &nbsp;&nbsp;

                    <i class="fa fa-thumbs-o-down" style="font-size:30px"></i>
                    {{ comment.dislikes }}
                    &nbsp;&nbsp;

                    <a href="{% url 'edit_comment' comment.pk %}" style="font-size:20px;" >Editar</a>
                    &nbsp;
                    <a  class="btn btn-danger" href="{% url 'delete_comment' comment.pk %}">Borrar</a>
                </div>
            {% else %}
                <div align="right" style="padding-right: 30px; padding-bottom: 10px;">
                    <!-- Like / Dislike -->
                    <!-- Si tiene like, muestra la mano verde y la otra oscura -->
                            {% if comment in commentWithLikes %}
                                <i class="fa fa-thumbs-up" style="font-size:30px;color:green"></i>
                                    {{ comment.likes }}
                                &nbsp;&nbsp;
                                <a href="{% url 'dislike_comment' comment.pk %}">
                                    <i class="fa fa-thumbs-o-down" style="font-size:30px"></i>

                                </a>{{ comment.dislikes }}
                                &nbsp;&nbsp;
                            <!-- Si tiene dislike, muestra la mano roja y la otra oscura -->
                            {% elif comment in commentWithDislikes  %}
                                <a href="{% url 'like_comment' comment.pk %}">
                                    <i class="fa fa-thumbs-o-up" style="font-size:30px"></i>

                                </a>{{ comment.likes }}
                                &nbsp;&nbsp;

                                <i class="fa fa-thumbs-down" style="font-size:30px;color:red"></i>
                                {{ comment.dislikes }}

                                &nbsp;&nbsp;
                            {% else %}
                                <a href="{% url 'like_comment' comment.pk %}">
                                    <i class="fa fa-thumbs-o-up" style="font-size:30px"></i>

                                </a>{{ comment.likes }}
                                &nbsp;&nbsp;
                                <a href="{% url 'dislike_comment' comment.pk %}">
                                    <i class="fa fa-thumbs-o-down" style="font-size:30px"></i>

                                </a>{{ comment.dislikes }}
                                &nbsp;&nbsp;
                            {% endif %}
                </div>

            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p style="padding: 0px 250px 0px">no hay comentarios</p>
{% endif %}
</div>
    </div>

      <!--Valoraciones -->
    <div id="menu2" class="tab-pane fade">

        <div align="center">
</br>
</br>

{% if rate_list %}
    {% for rate in rate_list %}
        <div class="card border-dark mb-4" style="max-width: 60rem;">
          <div class="card-header" align="center">
              {% if rate.stars == 0 %}
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 1 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 2 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 3 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 4 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star"></span>
              {% elif rate.stars == 5 %}
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
                    <span class="fa fa-star " style="color: orange;"></span>
              {% endif %}
          </div>
          <div class="card-body text-dark">
            <p class="card-text">{{ rate.description }}</p>

              <p class="card-text" >
                <img src="{{ rate.creator_rate.photo.url }}" alt="Dog photo" width="75px" height="75px">
                  </br>
                  <p></p>
                  {% if rate.creator_rate.breeder %}
                        <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  comment.creator_comment.breeder.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ rate.creator_rate.breeder.userAccount.first_name }} {{ rate.creator_rate.breeder.userAccount.last_name }}
                        </button>
                  {% elif rate.creator_rate.association %}
                      <button class="btn btn-info"  onclick="location.href='/actors/profile/{{ rate.creator_rate.association.pk }}';">
                            <span class="fa fa-user"></span>
                            {{ rate.creator_rate.association.userAccount.first_name }} {{ rate.creator_rate.association.userAccount.last_name }}
                        </button>
                  {% else %}
                            {{ rate.creator_rate.userAccount.first_name }} {{ rate.creator_rate.userAccount.last_name }}
                  {% endif %}

              </p>

          </div>
            <!-- Edición  y Borrado del comentario -->
            {% if rate.creator_rate == actor %}
                <div align="right" style="padding-right: 30px; padding-bottom: 10px;">
                    <a href="{% url 'edit_rate' rate.pk %}" style="font-size:20px;" >Editar</a>
                    <a  class="btn btn-danger" href="{% url 'delete_rate' rate.pk %}">Borrar</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p style="padding: 0px 250px 0px">no hay valoraciones</p>
{% endif %}
</div>
    </div>

    </div>
  </div>



</div>

{% endblock %}
