{% extends 'base/base.html' %}
{% block title %}
Animales
{% endblock %}
{% block content %}

        {% if ownDog %}
            <h3 style="padding: 0 20px 0">Mis animales</h3>
        {% else %}
            <h3 style="padding: 0 20px 0">Animales</h3>
        {% endif %}
{% if user.actor.breeder %}
        <div align="left" style="padding: 0 20px 0">
            {% if ownDog %}
                <input type="button" class="btn editbutton"
                                       onclick="location.href='/dogs/list';"
                                       value="Animales"/>&nbsp
                <input type="button" class="btn pulsado" style="border-color:#2c539e"
                                       onclick="location.href='/dogs/ownList';"
                                       value="Mis animales"/>
            {% else %}
                <input type="button" class="btn pulsado" style="border-color:#2c539e"
                                       onclick="location.href='/dogs/list';"
                                       value="Animales"/>&nbsp
                <input type="button"   class="btn editbutton"
                                       onclick="location.href='/dogs/ownList';"
                                       value="Mis animales"/>
            {% endif %}
        </div>
{% endif %}
</br>
                {% if dog_list %}
                    {% for dog in dog_list %}
                        <div align="center" style="overflow: auto;padding: 0 20px 0;">
                            <!-- IMAGEN DEL PERRO -->
                            <div style="float: left;">
                                {% if dog.photo %}
                                    <img src="{{ dog.photo.url }}"  alt="photo's dog" width="300px" height="200px">
                                {% endif %}
                            </div>
                            <!-- DATOS RELEVANTES DEL PERRO -->
                            <div style="float: left;width:400px;padding:0px 20px 0px">
                                <p class="card-text" align="left"> <b>Nombre: </b>{{ dog.name }}</p>
                                <!-- COMPRUEBA LA S DE AÑO -->
                                {% if dog.age == 1 %}
                                    <p class="card-text" align="left"><b>Edad: </b>{{ dog.age }} año</p>
                                {% else %}
                                    <p class="card-text" align="left"><b>Edad: </b>{{ dog.age }} años</p>
                                {% endif %}
                                    <p class="card-text" align="left"><b>Género: </b>{{ dog.gender }}</p>
                                    <p class="card-text" align="left"><b>Raza: </b>{{ dog.breed }}</p>

                                <!-- SI TIENE PERFIL PRIVADO NO SE MUESTRA BOTON -->
                                {% if not user.is_authenticated and dog.breeder.private %}
                                    <p class="card-text" align="left"><b>Criador: </b>{{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}</p>

                                {% elif user.is_authenticated %}
                                     <div align="left">
                                        <button class="btn btn-info" onclick="location.href='/actors/profile/{{ dog.breeder.pk }}';">
                                            <span class="fa fa-user"></span>
                                            {{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}
                                        </button>
                                         <p></p>
                                     </div>
                                {% else %}
                                    <div align="left">
                                        <button class="btn btn-info" onclick="location.href='/web/profile/{{ dog.breeder.pk }}';">
                                            <span class="fa fa-user"></span>
                                            {{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- CAMPOS DE TEXTO DEL PERRO -->
                                <div style="float: left;width:400px;padding:0px 20px 0px">
                                    {% if dog.details %}
                                    <p class="card-text" align="left"> <b>Detalles: </b>{{ dog.details }}</p>
                                    {% else %}
                                    <p class="card-text" align="left"> <b>Detalles: </b>ninguno</p>
                                    {% endif %}
                                    {% if dog.awards %}
                                    <p class="card-text" align="left"><b>Premios: </b>{{ dog.awards }}</p>
                                    {% else %}
                                    <p class="card-text" align="left"> <b>Premios: </b>ninguno</p>
                                    {% endif %}
                                </div>

                            <!-- BOTONES SI ESTA LOGUEADO -->
                                <div style="float: left;width:100px;padding:40px">
                                    {% if user.is_authenticated %}
                                    <!-- PERFIL DEL PERRO -->
                                    <button class="btn editbutton" onclick="location.href='/dogs/profile/{{ dog.pk }}';">
                                        <span class="fas fa-dog">
                                        </span>
                                    </button>
                                    <p></p>
                                    {% endif %}
                                    <!-- SI ES EL PERRO DEL CRIADOR LOGUEADO, EDITAR Y BORRAR -->
                                    {% if ownDog %}
                                    <p style="padding:50px 0 0"><a  title="Editar"  class="btn editbutton" href="edit/{{ dog.pk }}">
                                        Editar
                                    </a></p>
                                    <p></p>
                                    <p style="padding:0 0 0"><a class="btn btn-danger" href="delete/{{ dog.pk }}">
                                        Borrar
                                    </a>
                                    </p>
                                    <p></p>
                                    {% endif %}
                                </div>
                           </div>
                           <hr>
                    {% endfor %}

          <div class="panel-footer table-header-primary table-footer">
            {% if dog_list.has_other_pages %}
                <ul class="pagination">
                    {% if dog_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ dog_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in dog_list.paginator.page_range %}
                        {% if dog_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if dog_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ dog_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>

        {% else %}
            <p></p>
            <p>No existen perros.</p>
        {% endif %}

        <!-- SI ES CRIADOR, REGISTRAR -->
        {% if user.actor.breeder %}
            </br>
            <div class="create" align="left" style="padding: 0 20px 0px">
                <input type="button"  class="btn editbutton"
                       onclick="location.href='/dogs/register';"
                       value="Registrar perro"/>

            </div>

        {% endif %}

{% endblock %}
