{% extends 'base/base.html' %}
{% block title %}
Animales
{% endblock %}
{% block content %}

        {% if ownDog %}
            <h3 style="padding: 0 20px 0">Mis animales</h3>
        {% else %}
            <h3 style="padding: 0 20px 0">Animales</h3>
        {% endif %}
{% if user.actor.breeder %}
        <div align="left" style="padding: 0 20px 0">
            {% if ownDog %}
                <input type="button" class="btn editbutton"
                                       onclick="location.href='/dogs/list';"
                                       value="Animales"/>&nbsp
                <input type="button" class="btn pulsado" style="border-color:#2c539e"
                                       onclick="location.href='/dogs/ownList';"
                                       value="Mis animales"/>
            {% else %}
                <input type="button" class="btn pulsado" style="border-color:#2c539e"
                                       onclick="location.href='/dogs/list';"
                                       value="Animales"/>&nbsp
                <input type="button"   class="btn editbutton"
                                       onclick="location.href='/dogs/ownList';"
                                       value="Mis animales"/>
            {% endif %}

        </div>
{% endif %}
<br/>
        {% if not ownDog and user.is_authenticated %}
             <!-- Buscador -->
                <div style="padding: 0 20px 0" class="input-group">
                    <form class="form-inline" action="{% url 'search_dogs' %}" method="get">
                        <div class="form-group">
                            <!-- Texto -->
                            <input type="text" class="form-control" placeholder="Buscador de perros" name="q"
                                   maxlength="30">
                        </div> &nbsp;
                        <div class="form-group">
                            <!-- Raza -->
                            <select class="form-control" id="breed" name="b">
                                <option value="" selected="selected">Raza</option>
                                {% for b in breeds %}
                                    <option value="{{ b.id }}">{{ b.name }}</option>
                                {% endfor %}
                            </select>
                        </div> &nbsp;
                        &nbsp;
                        <div class="form-group">
                            <button class="btn btn-info" type="submit">Buscar</button>
                        </div>
                    </form>
                </div>
                <hr/>
        {% endif %}
                {% if dog_list %}
                    {% for dog in dog_list %}
                        <div align="center" style="overflow: auto;padding: 0 20px 0;">
                            <!-- IMAGEN DEL PERRO -->
                            <div style="float: left;">
                                {% if dog.photo %}
                                    <img src="{{ dog.photo.url }}"  alt="photo's dog" width="300px" height="200px">
                                {% endif %}
                            </div>
                            <!-- DATOS RELEVANTES DEL PERRO -->
                            <div style="float: left;width:400px;padding:0px 20px 0px">
                                <p class="card-text" align="left"> <b>Nombre: </b>{{ dog.name }}</p>
                                <!-- COMPRUEBA LA S DE AÑO -->
                                {% if dog.age == 1 %}
                                    <p class="card-text" align="left"><b>Edad: </b>{{ dog.age }} año</p>
                                {% else %}
                                    <p class="card-text" align="left"><b>Edad: </b>{{ dog.age }} años</p>
                                {% endif %}
                                    <p class="card-text" align="left"><b>Género: </b>{{ dog.gender }}</p>
                                    <p class="card-text" align="left"><b>Raza: </b>{{ dog.breed }}</p>

                                <!-- Si el usuario no esta registrado muestra otro botón -->
                                {% if not user.is_authenticated %}
                                    <div align="left">
                                        <button class="btn btn-info" onclick="location.href='/web/profile/{{ dog.breeder.pk }}';">
                                            <span class="fa fa-user"></span>
                                            {{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}
                                        </button>
                                    </div>
                                <!-- si esta logueado y no es el mismo actor del perfil se muestra boton -->
                                {% elif user.is_authenticated and dog.breeder.userAccount != actor.userAccount %}
                                     <div class="row" align="left">
                                            <button class="btn btn-info" onclick="location.href='/actors/profile/{{ dog.breeder.pk }}';">
                                                <span class="fa fa-user"></span>
                                                {{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}
                                            </button>
                                             <p>&nbsp</p>
                                            <button class="btn editbutton" onclick="location.href='/dogs/profile/{{ dog.pk }}';">
                                                <span class="fas fa-dog">
                                                </span>
                                            </button>

                                     </div>
                                <!-- Si esta logueado y es el mismo actor, no muestro el boton -->
                                {% else %}
                                    <p class="card-text" align="left"><b>Criador: </b>{{ dog.breeder.userAccount.first_name }}  {{ dog.breeder.userAccount.last_name }}</p>
                                    <div align="left">
                                            <button class="btn editbutton" onclick="location.href='/dogs/profile/{{ dog.pk }}';">
                                                <span class="fas fa-dog">
                                                </span>
                                            </button>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- CAMPOS DE TEXTO DEL PERRO -->
                                <div style="float: left;width:400px;padding:0px 20px 0px">
                                    {% if dog.details %}
                                    <p class="card-text" align="left"> <b>Detalles: </b>{{ dog.details }}</p>
                                    {% else %}
                                    <p class="card-text" align="left"> <b>Detalles: </b>ninguno</p>
                                    {% endif %}
                                    {% if dog.awards %}
                                    <p class="card-text" align="left"><b>Premios: </b>{{ dog.awards }}</p>
                                    {% else %}
                                    <p class="card-text" align="left"> <b>Premios: </b>ninguno</p>
                                    {% endif %}
                                </div>

                            <!-- BOTONES SI ESTA LOGUEADO -->
                                <div style="float: left;width:100px;padding:40px">
                                    <!-- SI ES EL PERRO DEL CRIADOR LOGUEADO, EDITAR Y BORRAR -->
                                    {% if ownDog %}
                                    <p style="padding:50px 0 0"><a  title="Editar"  class="btn editbutton" href="edit/{{ dog.pk }}">
                                        <i class="fa fa-pencil" style="font-size:18px"></i>
                                    </a></p>
                                    <p></p>
                                    <p style="padding:0 0 0"><a class="btn btn-danger" href="delete/{{ dog.pk }}">
                                         <i class="fa fa-trash" style="font-size:18px"></i>
                                    </a>
                                    </p>
                                    <p></p>
                                    {% endif %}
                                </div>
                           </div>
                           <hr>
                    {% endfor %}
    {% if dog_list.has_other_pages %}
          <div class="table-footer">
                <div  align="center" class="pagination" style="padding:0 20px 0">
                    <ul>
                        {% if dog_list.has_previous %}
                        <li class="previous"><a href="?page={{ dog_list.previous_page_number }}" class="fa fa-arrow-left"></a></li>
                        {% else %}
                        <li class="previous disabled"><a href="#" class="fa fa-arrow-left"></a></li>
                        {% endif %}
                        {% for i in dog_list.paginator.page_range %}
                            {% if dog_list.number == i %}
                            <li class="active"><a href="#">{{ i }}</a></li>
                            {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if dog_list.has_next %}
                        <li class="next"><a href="?page={{ dog_list.next_page_number }}" class="fa fa-arrow-right"></a></li>
                        {% else %}
                        <li class="previous disabled"><a href="#" class="fa fa-arrow-right"></a></li>
                        {% endif %}
                    </ul>
                </div>
          </div>
    {% endif %}
        {% else %}
            <p></p>
            <p style="padding: 0 20px 0px">No se han encontrado perros.</p>
        {% endif %}

        <!-- SI ES CRIADOR, REGISTRAR -->
        {% if user.actor.breeder %}
            </br>
            <div class="create" align="left" style="padding: 0 20px 0px">
                <input type="button"  class="btn editbutton"
                       onclick="location.href='/dogs/register';"
                       value="Registrar perro"/>

            </div>

        {% endif %}

{% endblock %}
