{% extends 'base/base.html' %}
{% block title %}
Lista de perros
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <br/>
        <h1>Lista de animales</h1>
        <br/>

        <!-- Listado -->
        {% if dog_list %}
        <div class="panel panel-default panel-table mb-3">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <table class="table table-striped table-curved table-hover table-bordered">


                    <thead class="thead-primary">
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Género</th>
                        <th>Raza</th>
                        <!-- Para la columna de la foto-->
                        <th></th>
                        <!-- Si es del creador para la columna editar -->
                        {% if ownDog %}
                        <th></th>
                        {% endif %}
                        <!-- Para la columna de ver perfil-->
                        <th></th>

                    </tr>
                  </thead>

                    <tbody>
                    {% for dog in dog_list %}

                        <tr>
                            <td>{{ dog.name }}</td>
                            <td>{{ dog.age }}</td>
                            <td>{{ dog.gender }}</td>
                            <td>{{ dog.breed }}</td>
                            <td>
                                {% if dog.photo %}
                                    <img src="{{ dog.photo.url }}" alt="photo's dog" width="150px" height="150px">
                                {% endif %}
                            </td>
                            <!-- Si es del creador para  editar -->
                            {% if ownDog %}
                            <td>
                                <a  title="Editar"  class="btn editbutton" href="edit/{{ dog.pk }}">
                                    Editar
                                </a>
                                <a class="btn btn-danger" href="delete/{{ dog.pk }}">
                                    Borrar
                                </a>
                            </td>
                            {% endif %}
                            <td> <a title="Ver perfil"  class="btn editbutton" href=""> Ver perfil</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>

            </table>
          </div>
          <div class="panel-footer table-header-primary table-footer">
            {% if dog_list.has_other_pages %}
                <ul class="pagination">
                    {% if dog_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ dog_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in dog_list.paginator.page_range %}
                        {% if dog_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if dog_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ dog_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p></p>
            <p>No existen perros.</p>
        {% endif %}

        {% if user.actor.breeder %}
            <div class="create">
                <input type="button" class="btn editbutton"
                       onclick="location.href='/dogs/register';"
                       value="Registrar perro"/>

            </div>

        {% endif %}



    </div>
{% endblock %}
