{% extends 'base/base.html' %}

{% block title %}SocialDog{% endblock %}

{% block content %}
    <style>
        h1 {
            padding-top: 100px;
        }
    </style>

    <div class="message">
        {% if messages %}
            {% for message in messages %}
                <h1 style="text-align: center">{{ message }}</h1>
            {% endfor %}
         {% else %}
            <h1 style="text-align: center">No tiene permisos para acceder a este lugar</h1>
        {% endif %}
    </div>

{% endblock %}