{% extends 'base/base.html' %}
{% block title %}
Amigos
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <br/>
        <h1>Lista de amigos</h1>
        <br/>

<div align="left">
    <input type="button"  class="btn editbutton"
                           onclick="location.href='/actors/friends';"
                           value="Amigos"/>&nbsp
    <input type="button"  class="btn editbutton"
                           onclick=""
                           value="Solicitudes de amistad"/>&nbsp
    <input type="button"  class="btn editbutton"
                           onclick="location.href='/actors/users';"
                           value="Buscar usuarios"/>
</div>
        </br>
        <!-- Listado -->
        {% if friend_list %}
        <div class="panel panel-default panel-table mb-3">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <table class="table table-striped table-curved table-hover table-bordered">


                    <thead class="thead-primary">
                    <tr>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <!-- Enviar mensaje-->
                        <th></th>
                        <!-- Ver perfil-->
                        <th></th>
                        <!-- Dejar de ser amigo-->
                        <th></th>
                    </tr>
                  </thead>

                    <tbody>
                    {% for friend in friend_list %}
                        <tr>
                            <td>{{ friend.userAccount.first_name }}  {{ friend.userAccount.last_name }}</td>
                            {% if friend.breeder %}
                                <td>Criador</td>
                            {% elif friend.association %}
                                <td>Asociación</td>
                            {% elif friend.customer %}
                                <td>Usuario</td>
                            {% endif %}
                            <td> <a href="">enviar mensaje</a></td>
                            <td> <a href="">ver perfil</a></td>
                            <td> <a href="">borrar amigo</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

            </table>
          </div>

          <!-- PAGINACION -->
          <div class="panel-footer table-header-primary table-footer">
            {% if friend_list.has_other_pages %}
                <ul class="pagination">
                    {% if friend_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ friend_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in friend_list.paginator.page_range %}
                        {% if friend_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if friend_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ friend_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p></p>
            <p>Aún tienes amigos.</p>
        {% endif %}
    </div>
{% endblock %}
