{% extends 'base/base.html' %}
{% block title %}
Amigos
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <h1>Lista de amigos</h1>
        <br/>

<div align="left">
    {% if isFriends %}
        <input type="button"  class="btn pulsado" style="border-color:#2c539e"
                               onclick="location.href='/actors/friends';"
                               value="Amigos"/>&nbsp
        <input type="button"  class="btn editbutton"
                               onclick="location.href='/actors/users';"
                               value="Buscar usuarios"/>&nbsp

    {% elif isAllUsers %}
        <input type="button"  class="btn editbutton"
                               onclick="location.href='/actors/friends';"
                               value="Amigos"/>&nbsp
        <input type="button"  class="btn pulsado" style="border-color:#2c539e"
                               onclick="location.href='/actors/users';"
                               value="Buscar usuarios"/>&nbsp


    {% endif %}
</div>
        </br>
        <!-- Listado -->
        {% if friend_list %}
        <div class="panel panel-default panel-table mb-3">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <table class="table table-striped table-curved table-hover table-bordered">


                    <thead class="thead-primary">
                    <tr>
                        <th>Nombre</th>
                        <!--<th>Usuario</th> -->
                        <!-- Ver perfil-->
                        <th></th>
                        <!-- Enviar mensaje-->
                        <th></th>
                        <!-- Dejar de ser amigo-->
                        <th></th>
                    </tr>
                  </thead>

                    <tbody>
                    {% for friend in friend_list %}
                        <tr>
                            <!-- Recibe lista de solicitudes, coge el follower si no es el actor logueado -->
                            {% if friend.follower != actor %}
                                <td>{{ friend.follower.userAccount.first_name }}  {{ friend.follower.userAccount.last_name }}</td>
                                    <!--{% if friend.follower.breeder %}
                                        <td>Criador</td>
                                    {% elif friend.follower.association %}
                                        <td>Asociación</td>
                                    {% elif friend.follower.customer %}
                                        <td>Usuario</td>
                                    {% endif %}-->
                             <!-- Recibe lista de solicitudes, coge  followed si no es el actor logueado -->
                            {% elif friend.followed != actor %}
                                <td>{{ friend.followed.userAccount.first_name }}  {{ friend.followed.userAccount.last_name }}</td>
                                     <!--{% if friend.followed.breeder %}
                                        <td>Criador</td>
                                    {% elif friend.followed.association %}
                                        <td>Asociación</td>
                                    {% elif friend.followed.customer %}
                                        <td>Usuario</td>
                                    {% endif %}-->
                            {% endif %}

                            {% if friend.follower != actor %}
                                <td>
                                        {% if not friend.follower.customer %}
                                            <button class="btn btn-info" onclick="location.href='/actors/profile/{{ friend.follower.pk }}';">
                                                <span class="fa fa-user"></span>
                                            </button>
                                        {% endif %}
                                </td>
                                <td>
                                    <button class="btn btn-success" onclick="location.href='/messages/send/{{ friend.follower.pk }}';">
                                        <span class="fa fa-envelope">
                                        </span>
                                    </button>
                                </td>

                            {% elif friend.followed != actor %}
                                <td>
                                    {% if not friend.followed.customer %}
                                        <button class="btn btn-info" onclick="location.href='/actors/profile/{{ friend.followed.pk }}';">
                                            <span class="fa fa-user"></span>
                                        </button>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn btn-success" onclick="location.href='/messages/send/{{ friend.followed.pk }}';">
                                        <span class="fa fa-envelope">
                                        </span>
                                    </button>
                                </td>

                            {% endif %}



                            {% if friend.follower != actor %}
                                <td>
                                    <a class="btn btn-danger" href="{% url 'delete_friend' friend.follower.pk %}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            {% elif friend.followed != actor %}
                                <td>
                                    <a class="btn btn-danger" href="{% url 'delete_friend' friend.followed.pk %}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>

            </table>
          </div>

          <!-- PAGINACION -->
          <div class="panel-footer table-header-primary table-footer">
            {% if friend_list.has_other_pages %}
                <ul class="pagination">
                    {% if friend_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ friend_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in friend_list.paginator.page_range %}
                        {% if friend_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if friend_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ friend_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p></p>
            <p>Aún tienes amigos.</p>
        {% endif %}
    </div>
{% endblock %}
