{% extends 'base/base.html' %}
{% block title %}
Usuarios
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <h3 style="padding: 0 20px 0">Buscar usuarios</h3>

<div style="padding: 0 20px 0" align="left">
    {% if isFriends %}
        <input type="button"  class="btn pulsado" style="border-color:#2c539e"
                               onclick="location.href='/actors/friends';"
                               value="Amigos"/>&nbsp
        <input type="button"  class="btn editbutton"
                               onclick="location.href='/actors/users';"
                               value="Buscar usuarios"/>&nbsp

    {% elif isAllUsers %}
        <input type="button"  class="btn editbutton"
                               onclick="location.href='/actors/friends';"
                               value="Amigos"/>&nbsp
        <input type="button"  class="btn pulsado" style="border-color:#2c539e"
                               onclick="location.href='/actors/users';"
                               value="Buscar usuarios"/>&nbsp

    {% endif %}
</div>
</br>

        <!-- Listado -->
        {% if actor_list %}

                {% for actor in actor_list %}
                    <div align="center" style="overflow: auto;padding: 0px 20px 0px;">
                            <!-- IMAGEN DEL ACTOR -->
                            <div style="float: left;">
                                {% if actor.photo %}
                                    <img src="{{ actor.photo.url }}"  alt="photo's actor" width="200px" height="200px">
                                {% endif %}
                            </div>
                                <!--SI EL ACTOR ES CRIADOR -->
                                {% if actor.breeder %}
                                    <div style="float: left;width:400px;padding:0px 20px 0px">
                                        <p class="card-text"  align="left" style="font-size:24px;"> <b>{{ actor.userAccount.first_name }}  {{ actor.userAccount.last_name }}</b></p>
                                        <p class="card-text" align="left"><b>Centro: </b>{{ actor.breeder.centerName }}</p>
                                        <p class="card-text" align="left"><b>Horario: </b>De {{ actor.breeder.opening|time:'H' }}:{{ actor.breeder.opening|time:'i' }}  a {{ actor.breeder.closing|time:'H' }}:{{ actor.breeder.closing|time:'i' }}</p>
                                        {% if actor.breeder.notes %}
                                            <p class="card-text" align="left"><i>{{ actor.breeder.notes }}</i></p>
                                        {% endif %}
                                        <p class="card-text" align="left"><b>Dirección: </b>{{ actor.breeder.address }}</p>
                                    </div>

                                    <div style="float: left;width:400px;padding:0px 20px 0px">
                                        <p class="card-text" align="left"><b>Contacto: </b>{{ actor.userAccount.email }}</p>
                                        <p class="card-text" align="left"><b>Teléfono: </b>{{ actor.phone }}</p>
                                        <p class="card-text" align="left"><b> {{ actor.breeder.province }} - C.P. {{ actor.breeder.postalCode }}</b></p>
                                        <div align="left">
                                             <button class="btn btn-success" onclick="location.href='/requests/send/{{ actor.pk }}';">
                                                <span class="fa fa-plus-circle">
                                                </span>Amistad
                                            </button>
                                        </div>
                                    </div>

                                <!-- SI EL ACTOR ES ASOCIACION -->
                                {% elif actor.association %}
                                    <div style="float: left;width:400px;padding:0px 20px 0px">
                                        <p class="card-text"  align="left" style="font-size:24px;"> <b>{{ actor.userAccount.first_name }}  {{ actor.userAccount.last_name }}</b></p>
                                        <p class="card-text" align="left"><b>Centro: </b>{{ actor.association.centerName }}</p>
                                        <p class="card-text" align="left"><b>Horario: </b>De {{ actor.association.opening|time:'H' }}:{{ actor.association.opening|time:'i' }}  a {{ actor.association.closing|time:'H' }}:{{ actor.association.closing|time:'i' }}</p>
                                        {% if actor.association.notes %}
                                            <p class="card-text" align="left"><i>{{ actor.association.notes }}</i></p>
                                        {% endif %}
                                        <p class="card-text" align="left"><b>Dirección: </b>{{ actor.association.address }}</p>
                                    </div>

                                    <div style="float: left;width:400px;padding:0px 20px 0px">
                                        <p class="card-text" align="left"><b>Contacto: </b>{{ actor.userAccount.email }}</p>
                                        <p class="card-text" align="left"><b>Teléfono: </b>{{ actor.phone }}</p>
                                        <p class="card-text" align="left"><b> {{ actor.association.province }} - C.P. {{ actor.association.postalCode }}</b></p>
                                        <div align="left">
                                             <button class="btn btn-success" onclick="location.href='/requests/send/{{ actor.pk }}';">
                                                <span class="fa fa-plus-circle">
                                                </span>Amistad
                                            </button>
                                        </div>
                                    </div>
                                <!-- SI EL ACTOR ES USUARIO -->
                                {% else %}
                                     <div style="float: left;width:400px;padding:0px 20px 0px">
                                        <p class="card-text" align="left" style="font-size:24px;"><b> {{ actor.userAccount.first_name }}  {{ actor.userAccount.last_name }}</b></p>
                                        <p class="card-text" align="left"><b>Contacto: </b>{{ actor.customer.userAccount.email }}</p>
                                        <p class="card-text" align="left"><b>Teléfono: </b>{{ actor.customer.phone }}</p>

                                    </div>
                                    <div style="float: left;width:400px;padding:0px 20px 0px">
                                        <div align="left">
                                             <button class="btn btn-success" onclick="location.href='/requests/send/{{ actor.pk }}';">
                                                <span class="fa fa-plus-circle">
                                                </span>Amistad
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}

                    </div>
                    <hr>
                {% endfor %}

          <!-- PAGINACION -->
          <div class="panel-footer table-header-primary table-footer">
            {% if actor_list.has_other_pages %}
                <ul class="pagination">
                    {% if actor_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ actor_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in actor_list.paginator.page_range %}
                        {% if actor_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if actor_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ actor_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p style="padding: 0 20px 0">No hay usuarios registrados.</p>
        {% endif %}
{% endblock %}
