{% extends 'base/base.html' %}
{% block title %}
Usuarios
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <br/>
        <h1>Buscar usuarios</h1>
        <br/>

<div align="left">
    {% if isFriends %}
        <input type="button"  class="btn pulsado" style="border-color:#2c539e"
                               onclick="location.href='/actors/friends';"
                               value="Amigos"/>&nbsp
        <input type="button"  class="btn editbutton"
                               onclick="location.href='/actors/users';"
                               value="Buscar usuarios"/>
    {% elif isAllUsers %}
        <input type="button"  class="btn editbutton"
                               onclick="location.href='/actors/friends';"
                               value="Amigos"/>&nbsp
        <input type="button"  class="btn pulsado" style="border-color:#2c539e"
                               onclick="location.href='/actors/users';"
                               value="Buscar usuarios"/>
    {% endif %}
</div>
        </br>

        <!-- Listado -->
        {% if actor_list %}
        <div class="panel panel-default panel-table mb-3">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <table class="table table-striped table-curved table-hover table-bordered">


                    <thead class="thead-primary">
                    <tr>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <!-- Enviar petición de amistad-->
                        <th></th>
                        <!-- Ver perfil-->
                        <th></th>
                    </tr>
                  </thead>

                    <tbody>
                    {% for actor in actor_list %}
                        <tr>
                            <td>{{ actor.userAccount.first_name }}  {{ actor.userAccount.last_name }}</td>
                            {% if actor.breeder %}
                                <td>Criador</td>
                            {% elif actor.association %}
                                <td>Asociación</td>
                            {% elif actor.customer %}
                                <td>Usuario</td>
                            {% endif %}
                            <td> <a href="">petición de amistad</a></td>
                            <td> <a href="">ver perfil</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

            </table>
          </div>

          <!-- PAGINACION -->
          <div class="panel-footer table-header-primary table-footer">
            {% if actor_list.has_other_pages %}
                <ul class="pagination">
                    {% if actor_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ actor_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in actor_list.paginator.page_range %}
                        {% if actor_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if actor_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ actor_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p></p>
            <p>No hay usuarios registrados.</p>
        {% endif %}
    </div>
{% endblock %}
