{% extends 'base/base.html' %}
{% block title %}
Criadores
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <h3 style="padding: 0 20px 0">Criadores</h3>

        {% if breeder_list %}
                    {% for breeder in breeder_list %}
                        <div align="center" style="overflow: auto;padding: 0px 20px 0px;">
                            <!-- IMAGEN DEL CRIADOR -->
                            <div style="float: left;">
                                {% if breeder.photo %}
                                    <img src="{{ breeder.photo.url }}"  alt="photo's breeder" width="200px" height="200px">
                                {% endif %}
                            </div>

                            <div style="float: left;width:400px;padding:0px 20px 0px">
                                <p class="card-text"  align="left" style="font-size:24px;"> <b>{{ breeder.userAccount.first_name }}  {{ breeder.userAccount.last_name }}</b></p>
                                <p class="card-text" align="left"><b>Centro: </b>{{ breeder.centerName }}</p>
                                <p class="card-text" align="left"><b>Horario: </b>De {{ breeder.opening|time:'H' }}:{{ breeder.opening|time:'i' }}  a {{ breeder.closing|time:'H' }}:{{ breeder.closing|time:'i' }}</p>
                                {% if breeder.notes %}
                                    <p class="card-text" align="left"><i>{{ breeder.notes }}</i></p>
                                {% endif %}
                                <p class="card-text" align="left"><b>Dirección: </b>{{ breeder.address }}</p>
                            </div>

                            <div style="float: left;width:400px;padding:0px 20px 0px">
                                <p class="card-text" align="left"><b>Contacto: </b>{{ breeder.userAccount.email }}</p>
                                <p class="card-text" align="left"><b>Teléfono: </b>{{ breeder.phone }}</p>
                                <p class="card-text" align="left"><b> {{ breeder.province }} - C.P. {{ breeder.postalCode }}</b></p>
                            </div>

                           </div>
                           <hr>
                    {% endfor %}

          <!-- PAGINACION -->
            {% if breeder_list.has_other_pages %}
              <div class="table-footer">
                <div  align="center" class="pagination" style="padding:0 20px 0">
                    <ul>
                        {% if breeder_list.has_previous %}
                        <li class="previous"><a href="?page={{ breeder_list.previous_page_number }}" class="fa fa-arrow-left"></a></li>
                        {% else %}
                        <li class="previous disabled"><a href="#" class="fa fa-arrow-left"></a></li>
                        {% endif %}
                        {% for i in breeder_list.paginator.page_range %}
                            {% if breeder_list.number == i %}
                            <li class="active"><a href="#">{{ i }}</a></li>
                            {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if breeder_list.has_next %}
                        <li class="next"><a href="?page={{ breeder_list.next_page_number }}" class="fa fa-arrow-right"></a></li>
                        {% else %}
                        <li class="previous disabled"><a href="#" class="fa fa-arrow-right"></a></li>
                        {% endif %}
                    </ul>
                </div>
</div>
            {% endif %}
        </div>

        {% else %}
            <p></p>
            <p>No hay registradas asociaciones.</p>
        {% endif %}
    </div>
{% endblock %}
