{% extends 'base/base.html' %}
{% block title %}
Criadores
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <h3 style="padding: 0 20px 0">Criadores</h3>

        {% if breeder_list %}
                    {% for breeder in breeder_list %}
                        <div align="center" style="overflow: auto;padding: 0px 20px 0px;">
                            <!-- IMAGEN DEL CRIADOR -->
                            <div style="float: left;">
                                {% if breeder.photo %}
                                    <img src="{{ breeder.photo.url }}"  alt="photo's breeder" width="200px" height="200px">
                                {% endif %}
                            </div>

                            <div style="float: left;width:400px;padding:0px 20px 0px">
                                <p class="card-text"  align="left" style="font-size:24px;"> <b>{{ breeder.userAccount.first_name }}  {{ breeder.userAccount.last_name }}</b></p>
                                <p class="card-text" align="left"><b>Centro: </b>{{ breeder.centerName }}</p>
                                <p class="card-text" align="left"><b>Horario: </b>De {{ breeder.opening|time:'H' }}:{{ breeder.opening|time:'i' }}  a {{ breeder.closing|time:'H' }}:{{ breeder.closing|time:'i' }}</p>
                                {% if breeder.notes %}
                                    <p class="card-text" align="left"><i>{{ breeder.notes }}</i></p>
                                {% endif %}
                                <p class="card-text" align="left"><b>Dirección: </b>{{ breeder.address }}</p>
                            </div>

                            <div style="float: left;width:400px;padding:0px 20px 0px">
                                <p class="card-text" align="left"><b>Contacto: </b>{{ breeder.userAccount.email }}</p>
                                <p class="card-text" align="left"><b>Teléfono: </b>{{ breeder.phone }}</p>
                                <p class="card-text" align="left"><b> {{ breeder.province }} - C.P. {{ breeder.postalCode }}</b></p>
                            </div>

                           </div>
                           <hr>
                    {% endfor %}

          <!-- PAGINACION -->
          <div class="panel-footer table-header-primary table-footer">
            {% if breeder_list.has_other_pages %}
                <ul class="pagination">
                    {% if breeder_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ breeder_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in breeder_list.paginator.page_range %}
                        {% if breeder_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if breeder_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ breeder_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p></p>
            <p>No hay registradas asociaciones.</p>
        {% endif %}
    </div>
{% endblock %}
