{% extends 'base/base.html' %}
{% block title %}
Criadores
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <h3>Criadores</h3>

        {% if breeder_list %}
                    {% for breeder in breeder_list %}
                        <div align="center" style="overflow: auto;padding: 0 20px 0;">
                            <div style="float: left;width:50px;padding:5px">

                            </div>
                            <!-- IMAGEN DE LA CRIADOR -->
                            <div style="float: left;">
                                {% if breeder.photo %}
                                    <img src="{{ breeder.photo.url }}"  alt="photo's breeder" width="300px" height="300px">
                                {% endif %}
                            </div>
                            <!--  -->
                            <div style="float: left;width:400px;padding:40px">

                                <!-- SI TIENE PERFIL PRIVADO NO SE MUESTRA BOTON -->
                                {% if not user.is_authenticated and breeder.private %}
                                    <p class="card-text" align="left"> <b>Nombre: </b>{{ breeder.userAccount.first_name }}  {{ breeder.userAccount.last_name }}</p>

                                {% elif user.is_authenticated %}
                                     <div align="left">
                                        <button class="btn btn-info" onclick="location.href='/actors/profile/{{ breeder.pk }}';">
                                            <span class="fa fa-user"></span>
                                            {{ breeder.userAccount.first_name }}  {{ breeder.userAccount.last_name }}
                                        </button>
                                         <p></p>
                                     </div>
                                {% else %}
                                    <div align="left">
                                        <button class="btn btn-info" onclick="location.href='/web/profile/{{ breeder.pk }}';">
                                            <span class="fa fa-user"></span>
                                            {{ breeder.userAccount.first_name }}  {{ breeder.userAccount.last_name }}
                                        </button>
                                        <p></p>
                                    </div>
                                {% endif %}
                                <p class="card-text" align="left"><b>Centro: </b>{{ breeder.centerName }}</p>
                                <p class="card-text" align="left"><b>Horario: </b>De {{ breeder.opening|time:'H' }}:{{ breeder.opening|time:'i' }}  a {{ breeder.closing|time:'H' }}:{{ breeder.closing|time:'i' }}</p>
                                {% if breeder.notes %}
                                    <p class="card-text" align="left"><i>{{ breeder.notes }}</i></p>
                                {% endif %}
                                <p class="card-text" align="left"><b>Dirección: </b>{{ breeder.address }}</p>
                            </div>
                            <!--  -->
                                <div style="float: left;width:400px;padding:40px">
                                    <p class="card-text" align="left"><b>Contacto: </b>{{ breeder.userAccount.email }}</p>
                                    <p class="card-text" align="left"><b>Teléfono: </b>{{ breeder.phone }}</p>
                                    <p class="card-text" align="left"><b> {{ breeder.province }} - C.P. {{ breeder.postalCode }}</b></p>
                                </div>

                           </div>
                           <hr>
                    {% endfor %}

          <!-- PAGINACION -->
          <div class="panel-footer table-header-primary table-footer">
            {% if breeder_list.has_other_pages %}
                <ul class="pagination">
                    {% if breeder_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ breeder_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in breeder_list.paginator.page_range %}
                        {% if breeder_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if breeder_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ breeder_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p></p>
            <p>No hay registradas asociaciones.</p>
        {% endif %}
    </div>
{% endblock %}
