{% extends 'base/base.html' %}
{% block title %}
Perfil
{% endblock %}
{% block content %}

<div class="container-fluid">

    </br>
    	 <div align="center" style="overflow: auto;padding: 0 20px 0;">
                            <div style="float: left;width:50px;padding:5px">

                            </div>
                            <!-- IMAGEN DE LA ASOCIACIÓN -->
                            <div style="float: left;">
                                {% if actor.photo %}
                                    <img src="{{ actor.photo.url }}"  alt="photo's actor" width="300px" height="300px">
                                {% endif %}
                            </div>
                            <p class="card-text" style="font-size:27px;padding:0 300px 0" align="center"> <b>{{ actor.userAccount.first_name }}  {{ actor.userAccount.last_name }}</b></p>
                            <div style="float: left;width:400px;padding:40px">

                                <p class="card-text" align="left"><b>Centro: </b>{{ actor.centerName }}</p>
                                <p class="card-text" align="left"><b>Horario: </b>De {{ actor.opening|time:'H' }}:{{ actor.opening|time:'i' }}  a {{ actor.closing|time:'H' }}:{{ actor.closing|time:'i' }}</p>
                                {% if actor.notes %}
                                    <p class="card-text" align="left"><i>{{ actor.notes }}</i></p>
                                {% endif %}
                                <p class="card-text" align="left"><b>Dirección: </b>{{ actor.address }}</p>
                            </div>
                            <!--  -->
                                <div style="float: left;width:400px;padding:40px">
                                    <p class="card-text" align="left"><b>Contacto: </b>{{ actor.userAccount.email }}</p>
                                    <p class="card-text" align="left"><b>Teléfono: </b>{{ actor.phone }}</p>
                                    <p class="card-text" align="left"><b> {{ actor.province }} - C.P. {{ actor.postalCode }}</b></p>
                                </div>
                            <!-- BOTONES DE AMISTAD, MENSAJE Y PERROS  -->
                             <div style="float: left;width:30px;padding:40px 0 0">
                                    <!--Si es criador, muestra sus perros -->
                                        {% if actor.breeder %}
                                                <button class="btn editbutton " onclick="location.href='/dogs/profile/breeder/{{ actor.pk }}';">
                                                    <span class="fas fa-dog">
                                                    </span>
                                                </button>
                                                <p></p>
                                        {% endif %}
                                         <!--Si son amigos, puede enviar mensaje -->
                                        {% if isFriend %}
                                            <button class="btn btn-success " onclick="location.href='/messages/send/{{ actor.pk }}';">
                                                <span class="fa fa-envelope" >
                                                </span>
                                            </button>
                                            <p></p>
                                        {% elif not isRequested %}
                                            <button class="btn btn-success " onclick="location.href='/requests/send/{{ actor.pk }}';">
                                                <span class="fa fa-plus-circle">
                                                </span>
                                            </button>
                                        {% endif %}
                             </div>
         </div>
</div>

{% endblock %}
