{% extends 'base/base.html' %}

<!-- CONTENIDO -->
{% block content %}

<div class="container-fluid text-center">
    <!-- Si es usuario registrado, redirect al Inicio -->
    {% if user.is_authenticated %}
        <meta http-equiv="refresh" content="0;url=/"/>

    <!-- Si no, permite login -->
    {% else %}

    <div class="row text-center mt-4 mb-2">
          <div class="col-md-4">

          </div>

            <div class="col-md-4 text-left bordered-panel" style="border-color: #2c539e;">
              <div class="login-icon-wrapper">
                <i class="fas fa-user login-icon"></i>
              </div>

              <h2 class="text-center">{{ titulo }}</h2>
              <hr class="mb-3"/>
                <!-- Pantalla de  Logout -->
                    {% csrf_token %}

            {% if messages %}
                <!-- MENSAJES DE QUE SE HA BORRADO CORRECTAMENTE LA CUENTA -->
                <!--<div class="card bg-success text-white">
                    {% for message in messages %}
                        <div class="card-body" align="center">{{ message }}</div>
                    {% endfor %}
                </div>-->
                <div class="alert alert-success alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>¡Completado!</strong> Se ha eliminado la cuenta correctamente.
			    </div>
            {% else %}
                    <h3 align="center">Se ha cerrado sesión</h3>
            {% endif %}
                    <div class="row mt-4">
                      <div class="col-md-6">
                        <input type="hidden" name="next" value="/" />
                        <input type="button" value="Volver a inicio Sesión" onclick="location.href='/login/';" class="btn editbutton btn-block" />
                      </div>
                      <div class="col-md-6">
                        <input type="button" class="btn cancelbutton text-white btn-block" onclick="location.href='/';" value="Cancelar" />
                      </div>
                    </div>

                    <!-- Botones -->

                </form>

            </div>
            <div class="col-md-4"/>

    </div>

    {% endif %}

</div>
</div>
{% endblock %}
<!-- FIN CONTENIDO -->

{% block scripts %}

{% endblock %}
