{% extends 'base/base.html' %}

{% block title %}SocialDog{% endblock %}

<!-- CONTENIDO -->
{% block content %}
<div class="container">

    <p style="font-size:40px">{{ title }} para <b> {{ dog.name }} </b></p>

    <div class="row">

            <div class="col-md-12">

                <!-- FORMULARIO -->
                <form id="registro" enctype="multipart/form-data" method="post"  class="form" role="form">
                    {% csrf_token %}

                    <!-- Crear comentario -->

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="title" class="control-label">Título</label>
                            <input class="form-control" id="title" name="title" maxlength="50" placeholder="Título" type="text" value="{{ form.title.value|default:'' }}" required autofocus/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">

                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="text" class="control-label">Texto</label>
                            <textarea class="form-control" name="text" id="text" maxlength="200" rows="3" placeholder="Texto"  required>{{ form.text.value|default:'' }}</textarea>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">

                        </div>

                        <!-- Botones -->
                        <div class="col-xs-3 col-md-3 form-group">
                                <input type="hidden" name="next" value="/" />
                                <input type="submit" value="Guardar" class="btn editbutton btn-block" />
                            </div>
                            <div class="col-xs-3 col-md-3 form-group">
                                <input type="hidden" name="next" value="/" />
                                <input type="button" class="btn cancelbutton btn-block" onclick="location.href='/dogs/profile/{{ dog.pk }}';" value="Cancelar" />
                            </div>
                    </div>

                    <div class="row">

                        <hr/>

                         <!-- Tratamiento de Errores -->
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ field.label }}: {{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                </form>


            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
