{% extends "base/base.html" %}

<!-- CONTENIDO -->
{% block content %}

        <div class="container-fluid">
            <div class="col-md-12">

                <!-- Formulario Borrado -->
                <form id="borrar" enctype="multipart/form-data" method="post" action="" class="form" role="form">
                    {% csrf_token %}

                    {% if user.actor.breeder %}
                        <h4><b>    {{ breeder.userAccount.first_name }} {{ breeder.userAccount.last_name }},</b></h4>
                    {% else %}
                        <h4><b>    {{ association.userAccount.first_name }} {{ association.userAccount.last_name }},</b></h4>
                    {% endif %}
                    <p style="font-size:25px">¿Está seguro que desea eliminar el evento <b>{{ event.title }}</b>?</p>
                    <br>
                    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
                    <a class="btn cancelbutton" href="/events/ownList">Cancelar</a>

                </form>

            </div>
        </div>

{% endblock %}


{% block scripts %}


{% endblock %}