{% extends 'base/base.html' %}
{% block title %}
Mis eventos
{% endblock %}
{% block content %}

    <div class="container-fluid">
        {% if myEvents %}
            <h3>Mis eventos</h3>
        {% elif myFutureEvents %}
            <h3>Mis eventos por realizar</h3>
        {% else %}
            <h3>Mis eventos finalizados</h3>
        {% endif %}

        {% if myEvents %}
            <input type="button" class="btn pulsado" style="border-color:#2c539e"
                           onclick="location.href='/events/ownList';"
                           value="Mis eventos"/>
            <input type="button" class="btn editbutton"
                           onclick="location.href='/events/ownFutureList';"
                           value="Por realizar"/>
            <input type="button" class="btn editbutton"
                           onclick="location.href='/events/ownPastList';"
                           value="Finalizados"/><br/><br/>
        {% elif myFutureEvents %}
            <input type="button" class="btn editbutton"
                           onclick="location.href='/events/ownList';"
                           value="Mis eventos"/>
            <input type="button" class="btn pulsado" style="border-color:#2c539e"
                           onclick="location.href='/events/ownFutureList';"
                           value="Por realizar"/>
            <input type="button" class="btn editbutton"
                           onclick="location.href='/events/ownPastList';"
                           value="Finalizados"/><br/><br/>
        {% else %}
            <input type="button" class="btn editbutton"
                           onclick="location.href='/events/ownList';"
                           value="Mis eventos"/>
            <input type="button" class="btn editbutton"
                           onclick="location.href='/events/ownFutureList';"
                           value="Por realizar"/>
            <input type="button" class="btn pulsado" style="border-color:#2c539e"
                           onclick="location.href='/events/ownPastList';"
                           value="Finalizados"/><br/><br/>
        {% endif %}

        <!-- Listado -->
        {% if event_list %}
            {% for event in event_list %}
            <div align="center" style="overflow: auto;padding: 0 20px 0;">
                    <div style="float: left;width:50px;padding:5px">

                    </div>
                    <!-- IMAGEN DE LA ASOCIACIÓN -->
                    <div style="float: left;">
                        {% if event.photo %}
                            <img src="{{ event.photo.url }}"  alt="photo's event" width="300px" height="300px">
                        {% endif %}
                        <p></p>
                    </div>
                <!--  -->
                <div style="float: left;width:400px;padding:40px">
                    <p class="card-text" align="center" style="font-size:27px;"><b> Comienzo: {{ event.startDate|date:'d/m/y' }}</b></p>
                    <p class="card-text" align="center" style="font-size:27px;"><b> Termina:&nbsp &nbsp&nbsp{{ event.finishDate|date:'d/m/y' }}</b></p>
                    {% if event.length %}
                        <p class="card-text" align="center" style="font-size:27px;"><b> Duración:&nbsp&nbsp {{ event.length|time:'H' }}h : {{ event.length|time:'i' }}m</b></p>
                    {% endif %}
                    <div align="center">
                        {% if event.breeder %}
                            <button class="btn btn-info"  onclick="location.href='/actors/profile/{{  event.breeder.pk }}';">
                                <span class="fa fa-user"></span>
                                {{ event.breeder.userAccount.first_name }} {{ event.breeder.userAccount.last_name }}
                            </button>
                        {% elif event.association %}
                          <button class="btn btn-info"  onclick="location.href='/actors/profile/{{ event.association.pk }}';">
                                <span class="fa fa-user"></span>
                                {{ event.association.userAccount.first_name }} {{ event.association.userAccount.last_name }}
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div style="float: left;width:400px;padding:40px">
                    <p class="card-text" align="center" style="font-size:25px;"><b>{{ event.title }}</b></p>
                    <p class="card-text" align="center" style="font-size:25px;"><b>{{ event.place }}</b></p>
                    <p class="card-text" align="left">{{ event.description }}</p>
                </div>
                <!--BOTONES DE EDICION Y BORRADO -->
                <div style="float: left;width:100px;padding:40px">
                    {% if ownEvent %}
                        <!--Si es un evento con fecha pasada o con menos de un dia de antelacion no se muestra -->
                        {% if event.startDate > today and event.startDate != tomorrow %}
                            <a  title="Editar"  class="btn editbutton" href="edit/{{ event.pk }}">
                                <i class="fa fa-pencil" style="font-size:18px"></i>
                            </a>
                        {% endif %}
                        <p></p>
                        <a class="btn btn-danger" href="delete/{{ event.pk }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    {% endif %}
                </div>

            </div>
            <hr>
    {% endfor %}

          <div class="panel-footer table-header-primary table-footer">
            {% if event_list.has_other_pages %}
                <ul class="pagination">
                    {% if event_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ event_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in event_list.paginator.page_range %}
                        {% if event_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if event_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ event_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p></p>
            <p>No existen eventos.</p>
        {% endif %}
        <p></p>
        {% if user.actor.breeder %}
            <div class="create" style="padding: 0 20px 20px;">

                <input type="button" class="btn editbutton"
                       onclick="location.href='/events/breeder/create';"
                       value="Crear evento"/>

            </div>

        {% endif %}

        {% if user.actor.association %}
            <div class="create" style="padding: 0 20px 20px;">
                <input type="button" class="btn editbutton"
                       onclick="location.href='/events/association/create';"
                       value="Crear evento"/>

            </div>

        {% endif %}



{% endblock %}
