{% extends 'base/base.html' %}

{% block title %}SocialDog{% endblock %}

<!-- CONTENIDO -->
{% block content %}
<div class="container">
    <h3>{{ title }}</h3>

    <div class="row">

            <div class="col-md-12">

                <!-- FORMULARIO -->
                <form id="registro" enctype="multipart/form-data" method="post" action="{% url 'registerAssociation' %}" class="form" role="form">
                    {% csrf_token %}

                    <!-- Asociación -->

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="username" class="control-label">Nombre de usuario</label>
                            <input class="form-control" id="username" name="username" maxlength="32" placeholder="Nombre de usuario" type="text" value="{{ form.username.value|default:'' }}" required autofocus/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="email" class="control-label">Email</label>
                            <input class="form-control" id="email" name="email" maxlength="100" placeholder="asociacion@ejemplo.com" type="email" value="{{ form.email.value|default:'' }}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="password" class="control-label">Contraseña</label>
                            <input class="form-control" name="password" id="password" type="password" maxlength="32" placeholder="Contraseña" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="confirm_password" class="control-label">Confirmar contraseña</label>
                            <input class="form-control" name="confirm_password" id="confirm_password" type="password" maxlength="32" placeholder="Confirmar contraseña" required/>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="first_name" class="control-label">Nombre</label>
                            <input class="form-control" name="first_name" id="first_name" type="text" maxlength="32" placeholder="Nombre" value="{{ form.first_name.value|default:'' }}" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="last_name" class="control-label">Apellidos</label>
                            <input class="form-control" name="last_name" id="last_name" type="text" maxlength="50" placeholder="Apellidos" value="{{ form.last_name.value|default:'' }}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="centerName" class="control-label">Nombre del Centro</label>
                            <input class="form-control" name="centerName" id="centerName" type="text" maxlength="50" placeholder="Nombre del Centro" value="{{ form.centerName.value|default:'' }}" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="cif" class="control-label">CIF o código del centro</label>
                            <input type="text" maxlength="9" class="form-control" name="cif" id="cif" placeholder="Código de 9 d&#237;gitos para asociaciones"
                                   value="{{ form.cif.value|default:'' }}" required/>
                        </div>
                        <div class="col-xs-12 col-md-12 form-group">
                            <label for="address" class="control-label">Dirección</label>
                            <input type="text" maxlength="50" class="form-control" name="address" id="address" placeholder="Dirección"
                                   value="{{ form.address.value|default:'' }}" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="postalCode" class="control-label">Código Postal</label>
                            <input type="text" maxlength="5" class="form-control" name="postalCode" id="postalCode" placeholder="Código Postal"
                                   value="{{ form.postalCode.value|default:'' }}" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="phone" class="control-label">Teléfono</label>
                            <input type="text" maxlength="9" class="form-control" name="phone" id="phone" placeholder="Teléfono" value="{{ form.phone.value|default:'' }}" required/>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="opening" class="control-label">Hora de apertura</label>
                            <input type=time class="form-control" name="opening" id="opening" placeholder="Hora de apertura"
                                   value="{{ form.opening.value|default:'' }}" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="closing" class="control-label">Hora de cierre</label>
                            <input type=time  class="form-control" name="closing" id="closing" placeholder="Hora de cierre"
                                   value="{{ form.closing.value|default:'' }}"required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                                <label for="notes" class="control-label">Observaciones sobre el horario</label>
                                <textarea class="form-control" name="notes" id="notes" maxlength="200" rows="3" placeholder="Opcional"> {{ form.notes.value|default:'' }}</textarea>
                        </div>
                    </div>
                   <hr/>

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="province" class="control-label">Provincia</label>
                            <select class="form-control" id="province" name="province" required>
                                <!-- Si viene de validacion, pinta la anterior -->
                                {% if provinceSelected != None %}
                                    <option value="{{ provinceSelected.id }}" selected="selected">{{ provinceSelected.name }}</option>
                                    {% for p in provincesAux %}
                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% endfor %}
                                <!-- Si es no, sin seleccion por defecto -->
                                {% else %}
                                <option value="" selected="selected">Seleccione una provincia</option>
                                    {% for p in provinces %}
                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="photo" class="control-label">Foto de perfil</label>
                            <input class="form-control" name="photo" id="photo" type="file" placeholder="Foto de perfil del usuario" value="{{ form.photo.value|default:'' }}"/>
                        </div>
                    </div>

                     <!-- Tratamiento de Errores -->
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ field.label }}: {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <!-- Botones -->
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Registrarse" class="btn editbutton btn-block" />
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <input type="hidden" name="next" value="/" />
                            <input type="button" class="btn cancelbutton btn-block" onclick="location.href='/';" value="Cancelar" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
