<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
	{% block extrastatic %}
	{% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- STATIC FILES -->
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="styles/5star.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/flat-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/flat-ui.min.css' %}">


    <!-- Material icons de Google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<title>{% block title %}Social Dog{% endblock %}</title>
</head>
<body class="d-flex flex-column body-parent">
	{% block navbar %}
			{% if user.is_authenticated %}
					<!-- NAVBAR ACTOR AUTENTICADO -->
					<nav class="navbar navbar-expand navbar-dark bg-dark" style="background: rgb(23,77,84); /* Old browsers */
								background: -moz-linear-gradient(left, rgba(23,77,84,1) 0%, rgba(44,83,158,1) 61%, rgba(44,83,158,1) 61%, rgba(107,75,183,1) 80%);
								background: -webkit-linear-gradient(left, rgba(23,77,84,1) 0%,rgba(44,83,158,1) 61%,rgba(44,83,158,1) 61%,rgba(107,75,183,1) 80%);
								background: linear-gradient(to right, rgba(23,77,84,1) 0%,rgba(44,83,158,1) 61%,rgba(44,83,158,1) 61%,rgba(107,75,183,1) 80%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#174d54', endColorstr='#6b4bb7',GradientType=1 );">
							<a  href="{% url 'list_news' %}">
							<img style="width:140px;height:85px" src="{% static 'img/SocialDog.png' %}" alt="SocialDog" class="brand-icon"/>
							</a>

							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse">
									<ul class="navbar-nav mr-auto">
									<!-- NAVBAR USUARIO -->

									{% if user.actor.customer %}
										<ul class="navbar-nav mr-auto">
										<li class="dropdown flex-align-center">
											<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_dogs' %}" class="nav-link navbar-text"   aria-expanded="false">
												Animales
											</a>
										</li>
										<li class="dropdown flex-align-center">
											<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_associations' %}" class="nav-link navbar-text" aria-expanded="false">
												Asociaciones
											</a>
										</li>
										<li class="dropdown flex-align-center">
											<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_breeders' %}" class="nav-link navbar-text">
												Criadores
											</a>
										</li>

										<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_friends' %}" class="nav-link navbar-text"  aria-expanded="false">
													Amigos
												</a>
											</li>
									</ul>

									<!-- NAVBAR CRIADOR -->

									{% elif user.actor.breeder %}
									<ul class="navbar-nav mr-auto">

										<li class="dropdown flex-align-center">
											<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_dogs' %}" class="nav-link navbar-text">
												Animales
											</a>
										</li>
										<li class="dropdown flex-align-center">
											<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_myEvents' %}" class="nav-link navbar-text">
												Mis eventos
											</a>
										</li>
										<li class="dropdown flex-align-center">
											<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_myNews' %}" class="nav-link navbar-text">
												Mis noticias
											</a>
										</li>
										<li class="dropdown flex-align-center">
											<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_associations' %}" class="nav-link navbar-text">
												Asociaciones
											</a>
										</li>
										<li class="dropdown flex-align-center">
											<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_breeders' %}" class="nav-link navbar-text">
												Criadores
											</a>
										</li>
										<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_friends' %}" class="nav-link navbar-text"  aria-expanded="false">
													Amigos
												</a>
											</li>
									</ul>
									<!-- NAVBAR ASOCIACION -->
									{% elif user.actor.association %}
										<ul class="navbar-nav mr-auto">
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_dogs' %}" class="nav-link navbar-text">
													Animales
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_myEvents' %}" class="nav-link navbar-text">
													Mis eventos
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_myNews' %}" class="nav-link navbar-text">
													Mis noticias
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_associations' %}" class="nav-link navbar-text">
													Asociaciones
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_breeders' %}" class="nav-link navbar-text" >
													Criadores
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_friends' %}" class="nav-link navbar-text"  aria-expanded="false">
													Amigos
												</a>
											</li>
										</ul>
									<!-- NAVBAR ADMINISTRADOR -->
									{% elif user.actor.administrator %}
                                        <ul class="navbar-nav mr-auto">
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_dogs' %}" class="nav-link navbar-text"  aria-expanded="false">
													Animales
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="#" class="nav-link navbar-text"  aria-expanded="false">
													Mis eventos
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="#" class="nav-link navbar-text"  aria-expanded="false">
													Mis noticias
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_associations' %}" class="nav-link navbar-text"  aria-expanded="false">
													Asociaciones
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_breeders' %}" class="nav-link navbar-text"  aria-expanded="false">
													Criadores
												</a>
											</li>
											<li class="dropdown flex-align-center">
												<a style="border-top: 5px solid;border-color: transparent;" href="{% url 'list_friends' %}" class="nav-link navbar-text"  aria-expanded="false">
													Amigos
												</a>
											</li>
										</ul>

									{% endif %}

									</ul>
						<!-- Inicio/Cierre de sesión -->
						{% include 'base/loginpartial.html' %}
							</div>
					</nav>

					<!-- VENTANA POPUP DE QUE SE HA EDITADO EL PERFIL DEL ACTOR CORRECTAMENTE -->
					<!--{% if messages %}
						<div class="alert alert-success alert-dismissible" role="alert">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>¡Completado!</strong> Se ha editado el perfil correctamente.
						</div>
					{% endif %}-->

			{% else %}
					<!--NAVBAR SIN AUTENTICAR -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-info" style="background: rgb(23,77,84); /* Old browsers */
                    background: -moz-linear-gradient(left, rgba(23,77,84,1) 0%, rgba(44,83,158,1) 61%, rgba(44,83,158,1) 61%, rgba(107,75,183,1) 80%);
                    background: -webkit-linear-gradient(left, rgba(23,77,84,1) 0%,rgba(44,83,158,1) 61%,rgba(44,83,158,1) 61%,rgba(107,75,183,1) 80%);
                    background: linear-gradient(to right, rgba(23,77,84,1) 0%,rgba(44,83,158,1) 61%,rgba(44,83,158,1) 61%,rgba(107,75,183,1) 80%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#174d54', endColorstr='#6b4bb7',GradientType=1 );">

					<a  href="{% url 'list_news' %}">
							<img  style="width:120px;height:70px" src="{% static 'img/SocialDog.png' %}" alt="SocialDog" class="brand-icon"/>
					</a>
					<a  href="{% url 'list_news' %}">
									<img style="width:120px;height:30px"
										 src="{% static 'img/textSocialDog.png' %}"  alt="SocialDog" class="brand-icon"/>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav" >

							<ul class="navbar-nav ml-auto">

									<li class="dropdown flex-align-center">
                            			<a style="border-top: 5px solid;border-color: transparent;"  class="nav-link navbar-text" href="/login">
                                		Iniciar Sesión
                            			</a>
                        			</li>

									 <ul class="navbar-nav ml-auto">
            							<li class="dropdown flex-align-center">
                							<a style="border-top: 5px solid;border-color: transparent;" class="nav-link dropdown flex-align-center mr-md-2" href="" data-toggle="dropdown"  aria-expanded="false">
										 		Registrarse&nbsp;
												<span class="caret">
													<span class="fa fa-chevron-circle-down" style="font-size:24px">
													</span>
												</span>
											</a>

										 	<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="/register/user" style="text-align:center;">Usuario</a></li>
												<li><a class="dropdown-item" href="/register/breeder" style="text-align:center;">Criador</a></li>
												<li><a class="dropdown-item" href="/register/association" style="text-align:center;">Asociación</a></li>
											</ul>
										</li>
									</ul>
							</ul>
					</div>

                    </a>
            </nav>
			{% endif %}
	{% endblock %}

<div class="body-container">
	{% block content %}

	{% endblock %}
</div>

{% block footer %}
			<footer class="font-small blue pt-2 mt-2 bg-dark text-white">
				<div class="container">
					<div class="row">

						<div class="col-sm-12 col-md-3">
							<p class="column-title">Autor</p>
							<p class="footer-text">Jesús Sosa Sánchez</p>
						</div>
						<div class="col-sm-12 col-md-3">
							<p class="column-title">Información</p>
							<p class="footer-text">Jesús Sosa Sánchez</p>
							<p class="footer-text">Social Dog, páginas de referencia</p>
						</div>

						<div class="col-sm-12 col-md-3">
							<p class="column-title">Contacto</p>
							<ul class="list-unstyled">
								<li>jesosa.sanchez@gmail.com</li>
							</ul>
						</div>
					</div>


				</div>
			</footer>
{% endblock%}
	<script src="/static/js/jquery-3.3.1.js"></script>
	<script src="/static/js/functions.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/static/js/jquery-validate/jquery.validate.js"></script>
    <script src="/static/js/jquery-validate/additional-methods.js"></script>
    <script src="/static/js/jquery-validation-messages.js"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.loadingModal.css' %}">
    <script src="/static/js/jquery.loadingModal.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--<script>window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 2500);
</script> -->
	{% block extrajs %}
	{% endblock %}


</body>
</html>
