<!-- USUARIOS AUTENTICADOS -->
{% if user.is_authenticated %}

    <form id="logoutForm" action="/logout" method="post">
        {% csrf_token %}
        <ul class="navbar-nav ml-auto">
            <li class="dropdown">

                <a class="nav-link dropdown flex-align-center mr-md-2" href="" data-toggle="dropdown"  aria-expanded="false">
                    {% if user.actor.photo is not None %}
                      {% if user.actor.photo.url is not None %}
                        <div class="user-avatar">
                            <img src="{{ user.actor.photo.url }}"/>
                        </div>
                        {% endif %}
                    {% endif %}
                    <div style="margin-left: 1em;">
                        &#161;Hola, {{ user.first_name }} ! &nbsp;
                    <span class="caret">
                        <span class="fa fa-chevron-circle-down" style="font-size:24px">
                        </span>
                    </span>
                    </div>
                </a>

                <!--USUARIOS AUTENTICADOS, BARRA A LA DERECHA -->
                <ul class="dropdown-menu">

                    {% if user.is_staff %}
                        <a class="dropdown-item" href="/admin/">Panel Administración</a>
                        <hr/>
                    {% elif user.actor.customer %}
                    <li><a class="dropdown-item" href="{% url 'list_friends' %}" style="text-align:center;">Amigos</a></li>
                    <li><a href="{% url 'list_requests_received' %}" style="text-align:center;">Solicitudes de amistad</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'edit_profile_customer' %}" style="text-align:center;">Editar perfil</a></li>

                    {% elif user.actor.breeder %}
                    <li><a class="dropdown-item" href="{% url 'list_friends' %}" style="text-align:center;">Amigos</a></li>
                    <li><a href="{% url 'list_requests_received' %}" style="text-align:center;">Solicitudes de amistad</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'edit_profile_breeder' %}" style="text-align:center;">Editar perfil</a></li>
                    {% elif user.actor.association %}

                    <li><a class="dropdown-item" href="{% url 'list_friends' %}" style="text-align:center;">Amigos</a></li>
                    <li><a class="dropdown-item" href="{% url 'list_requests_received' %}" style="text-align:center;">Solicitudes de amistad</a></li>
                    <li class="divider"></li>
                    <li><a class="dropdown-item" href="{% url 'edit_profile_association' %}" style="text-align:center;">Editar perfil</a></li>

                    {% endif %}
                    <li class="divider"></li>
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()" style="text-align:center;">Cerrar
                        Sesión</a></li>

                </ul>
            </li>
        </ul>
    </form>

{% else %}

    <!-- USUARIOS NO AUTENTICADOS -->
    <ul class="navbar-nav ml-auto">
        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
    </ul>

{% endif %}
